/********* COMMON *********/
* {
    text-decoration: none;
}

html, body{
    width:100%;
    height: 100%!important;
}

h1,h2,h3,h4,h5{
    font-weight: 300;
    margin: 0;
    letter-spacing: 0.05em;
    padding: 0;
}

p {
    font-size: 14px;
}

a {
    color: #000222;
    cursor: pointer;
    @include transition(color .2s);
    letter-spacing: 0.05em;
}

body {
    display: block;
    background: #f0efed;
    @if $webkit-font-smoothing { -webkit-font-smoothing: antialiased; }
    color:  #000222;
    font-family: $lato;
}

input,textarea,button {
	border: none;

}
input,textarea {
    font-family: $lato;
}

a:focus,input:focus,textarea:focus,button:focus {
	outline: none;
}

ul li{
	list-style: none;
}

input, textarea {
    border-radius: 0;
}
fieldset {
    border: none;
    margin: 0;
}