/*================================
=            ARTICLES            =
================================*/

.b-article {
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
	text-align: center;

	&:hover {
		.b-article__bg {
			@include transform(scale(1.05) translateZ(0));
		}
	}

	@include media($phone) {
		max-width: 270px;
		max-height: 270px;
	}

}

.b-article__bg {
	position: absolute;
	display: block;
	min-width: 100%;
	height: auto;
	top: 0;
	left: 0;
	@include transition(ease-in-out transform .3s);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@include media($tablet) {
		height: auto;
	}
	@include media($tablet-port) {
		min-height: 100%;
		width: 100%;
	}
}

.b-article__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: #fff;
    @include transition(all 0.4s ease 0s);
}

.b-article_image {
	img {
		max-width: 100%;	
		max-height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	
	//padding-bottom: 25px;
}

.b-article_solid {
	font-size: 18px;
	text-transform: uppercase; 
	display: block;
	h3 {
		font-size: 18px;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: 0.05em;

		* {
			font-size: 18px;
		}
		*:first-child {
			color: #39590c;
			padding-bottom: 15px;
			line-height: 1em;
		}
		*:last-child {
			color: #fff;
			max-width: 160px;
			margin: auto;
			line-height: 1.3em;
			font-weight: 900;
		}
	}
	img {
		min-width: 100%;	
		min-height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	.b-grid & {
		padding: 0 20px;

		* {
			font-size: 17px;
			font-weight: 400!important;
		}
	}
	@include media($phone) {
		// display: block;
	
		h3 {
			font-size: 13px;
			* {
				font-size: 13px;
			}
		}
		.b-grid & {
			font-size: 13px;
			* {
				font-size: 13px;
			}
		}
	}
}

.l-article-inner {
	vertical-align: middle;
	width: 100%;
	overflow: hidden;
	@include align-self(center);

}



.b-grid .b-article_image {
    padding: 0;
}

.b-article__text {
	color: $text;
	position: absolute;
	bottom: 40px;
	left: 35px;
	text-align: left;
	max-width: 80%;
	opacity: 0.85;
	*:not(span) { 
		background:#fff;
		color: inherit;
		display: inline;
		padding: 5px 0 10px;
		
		box-shadow: 20px 0 0 #fff, -10px 0 0 #fff;
		@include transition(all .5s);
	}
	span {
		display: block;
		padding-bottom: 5px;
	}
	h3 {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.35em;
		color: #33241b;
		letter-spacing: normal;
		// @include transition(color .2s, background-color .2s);
	}
	strong {
		font-size: 15px;
		color: $gold;
		padding: 10px 0;
	}

	.b-article:hover & {
		h3 {
			background:#ffba01;


		}
		*:not(span) {
			background:#ffba01!important;
			box-shadow: 20px 0 0 #ffba01, -10px 0 0 #ffba01;
		}
		&.on-dark {
			*:not(span) {
				color: #fff;
				
			}
		}
		
		.b-article-row-text-inner {
			background:transparent!important;
		}

	}
	&.on-dark {
		color: #fff;
		*:not(span) {
			color: #fff;
			background:$dark;
			box-shadow: 20px 0 0 $dark, -10px 0 0 $dark;
		}
	}
	

	.b-grid & {
		h3 {
			font-size: 23px;
			letter-spacing: normal;
		}

	}
	&.big {
		max-width: 340px;
		margin: auto;
		strong {
			font-size: 14px;
		}
		h3 {
			font-size: 28px;
			color: #fff;
			font-weight: 300;
		}
	}

	.b-home-row & {
		h3 {
			font-size: 30px;
			font-weight: 400;
			color: #fff;
		}
	}
	@include media($phone) {
		.b-grid & {
			h3 {
				font-size: 17px;
			}
			&.big {
				max-width: 250px;
				h3 {
					font-size: 20px;
				}
			}
		}
	}
}


.b-article-video-btn {

	position: relative;
	z-index: 1;
	width: 55px;
	height: 55px;
	top: 30%;
	background:rgba(255,255,255,0.8);
	display: inline-block;
	text-align: center;
	@include transition(background .2s);
	&:before {
		content: "\f04b";
		font-family: 'FontAwesome';
		font-size: 24px;
		color: #000;
		line-height: 55px;
		margin-left: 5px;
	}

	.b-article:hover & {
		background:#fff;
	}
	@include media($phone) {
		top: 75px;
		width: 40px;
		height: 40px;
		&:before {
			font-size: 18px;
			line-height: 40px;
		}
	}
}

.b-article-audio-btn {
	position: relative;
	z-index: 1;
	width: 55px;
	height: 55px;
	top: 40%;
	display: inline-block;
	background:url('../images/i-audio.png') no-repeat;
	background-size: contain;
	@include media($phone) {
		top: 75px;
		width: 40px;
		height: 40px;
	}
}

.b-person {
	text-align: center;
	padding: 20px;
	overflow: hidden;
	position: relative;	
	img {
		display: block;
		min-width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	&:hover, &.open {
		.b-person-link {
			&:before {
				@include transform( skew(-45deg) scale(2.1) translate3d(-60%,0,0));
			}
		
		}
		.b-person-name  {
			opacity: 1;
			@include transition(opacity .2s .1s);
		}
	}
	@include media($phone) {
		padding: 15px 25px;
	}
}
.b-person-link {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	display: block;
	
	&:before {
		content:"";
		display: block;
		position: absolute;
		top: 0;
		left: 120%;
		width: 100%;
		height: 100%;
		@include transition(all 0.2s);
		@include transform( skew(-45deg));
		background:rgba(126, 180, 43, 0.8);
	}
	@include media($tablet) {
		display: none;
	}
} 

.b-featured-person {
	.b-person-link:before {
		content:none;
	}
	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		@include transition ( ease-in-out opacity .2s );
	}

	&:hover {
		img {
			opacity: 0.75;
		}
	}
	@include media($tablet) {
		
		overflow: hidden;

	}

	@include media($phone) {
		max-width: 270px;
		height: 135px!important;
		img {
			width: 100%;
		}
	}
}

.b-featured-person-info {
	width: 45%;

	
	&.on-dark {
		.b-person-name {
			color: #fff;
		}
		.b-person-info {
			color: #57585d;
		}
	}

	&.left {
		text-align: left;
		float: left;
		padding-left: 30px;
		
	}
	&.right {
		float: right;
		padding-right: 30px;
		text-align: right;

	}
	.b-person-name {
		text-align: left;
		font-size: 24px;
		color: $text;
		@include visible;
		position: static;
		padding-bottom: 5px;
		padding-top: 45px;
		font-weight: 400;
		letter-spacing: 0;

	}
	.b-person-info {
		text-align: left;
		font-size: 14px;
		color: $blue;
		display: block;
		font-weight: 600;
		line-height: 1.3em;

	}

	@include media($phone) {

		.b-person-name {
			font-size: 16px;
			padding-top: 30%;
		}
		.b-person-info  {
			font-size: 12px;
		}
	}
}
.b-person-name {
	opacity: 0;
	@include transition(opacity .2s 0s);
	display: block;
	color: #fff;
	position: relative;
	z-index: 1;
	font-weight: 900;
	font-size: 16px;
	top: 40%;

}


.b-cat {
	position: relative;
	&:hover {
		.b-cat__bg {
			@include transform(scale(1.05) translateZ(0));
		}
	}
	&:after {
		content:"";
		display: block;
		padding-bottom: 100%;
		position: relative;
		width: 100%;
		height: 100%;
		
	}
	@include media($tablet) {
		
		height: auto !important;
	}
}

.b-cat__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	@include transition( ease-in-out transform .4s);
	@include media($tablet) {
		height: auto;
	}
}

.b-cat__label{
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: 40px;
	
	color: #fff;
	font-size: 24px;
	font-weight:400;
	padding: 10px;
	&.green {
		background:$green;
	}
	&.mage {
		background:$mage;
	}
}


/*=====  End of ARTICLES  ======*/
