/*============================
=         BREADCRUMBS        =
============================*/

.b-breadcrumbs {
	position: relative;
	font-weight: 600;
	.svg {
		position: absolute;
		left: 0;
		top: 13px;
		width: 17px;
		@include media(620px) {
			top: 6px;
		}

		
		fill: $gold;
		
	}

	span {
		margin-right: 20px;
		font-size: 14px;
		line-height: 41px;
		font-family: $lato;
		color: #999;
		position: relative;
		@include media(620px) {
			line-height: 27px;
		}
		@include media($phone) {
			font-size: 12px;
			font-weight: 600;
            margin-right: 18px;
		}

		&:before {
			content: '';
			position: absolute;
			right: -12px;
			top: 0;
			height: 100%;
			width: 1px;
			background-color: #b5b5b5;
            @include media($phone) {
               right: -11px;
            }
		}

		&:last-child {
			&:before {
				display: none;
			}
		}
	}
	a {
		color: $green_page;
	}

	.b-bold {
		font-weight: bold;
		color: #000;
		padding-left: 35px;
		@include media(620px) {
			display: block;

			&:before {
				display: none;
			}
		}
		@include media($phone) {
			font-size: 14px;
		}
	}
}

/*============================
=      END BREADCRUMBS       =
============================*/
