/*==============================
=            FOOTER            =
==============================*/

.b-footer{
	background: #fff;
	border-top: 8px solid $green;
	padding: 45px 25px 50px;
	@include media($tablet) {
		display: none;
	}
}
.b-footer-nav {
	@include outer-container($content);
	padding-bottom: 25px;
	border-bottom: 1px solid #c7c4bf;
	margin-bottom: 30px;

}

.b-footer-subnav {
	@include outer-container($content);
	padding-bottom: 30px;
	@include display(flex);
	@include justify-content(space-between);


	.b-btn {
		border-style: solid;
		border-width: 4px;
		text-transform: uppercase;
		vertical-align: top;
		margin-right: 5px;
		width: 140px;
		padding: 10px;
		display: block;

		float: left;
		&:last-child {
			margin-right: 0;
		}
		&.b-btn_gold {
			border-color: $gold;
			&:hover {
				background:#fff;
				color: $gold;
				&:after {
					color: $gold;
				}
			}
		}
		
		&.b-btn_green {
			border-color: $green;
			&:hover {
				background:#fff;
				color: $green;
				&:after {
					color: $green;
				}
			}
		}
	}
	
}

.b-footer-mobile {
	display: none;
	text-align: center;
	padding: 10px;
	background:#fff;
	.b-footer-info li {
		padding: 10px 30px;
		
		&:after {
			content:none;
		}
		&:first-child:after {
			content:"";
			top: 12px;
		}
	}
	@include media($tablet) {
		display: block;
	}
	@include media($phone) {
		
		.b-footer-info li {
			padding: 10px 15px;
		}
	}
}
.b-footer-link-type-a {

	color: $green;
	&:hover {
		color: $gold;
	}

}

.b-footer-link-type-b {

	color: $gold;
	&:hover {
		color: $green;
	}
}


.b-footer-nav-list {
	font-size: 0;
	&>li {
		@include span-columns(1 of 8);
		display: inline-block;
		vertical-align: top;
		// max-width: 130px;
		// padding-right: 25px;
		&:last-child {
			padding-right: 0;
		}
	}
	h4 {
		font-weight: 900;
		font-size: 16px;
		padding-bottom: 20px;
		text-align: left;
	}
}

.b-footer-link-list {
	text-align: left;
	a {
		font-size: 13px;
		color: #a7a39a;
		font-weight: 600;
		&:hover {
			color:$green;
			text-decoration: underline;
		}
	}
	li {
		padding-bottom: 10px;
	}
}

.b-footer-btn-set {
	// float: right;
	min-width: 285px;
}

.b-footer-logo {
	vertical-align: bottom;
	margin-top: 5px;
	width: 125px;
	max-width: 125px;
	@include flex-grow(1);
	display: block;

}

.b-footer-info{
	display: inline-block;
	// @include display(flex);
	// @include justify-content(space-between);
	@include flex-grow(2);
	@include align-self(center);
	vertical-align: bottom;
	text-align: center;
	li { 
		display: inline-block;
		font-size: 13px;
		color: $green;
		padding: 0 4%;
		
		font-weight: 600; 
		position: relative;
		&:after {
			content:"";
			display: block;
			position: absolute;
			right: 0;
			height: 14px;
			top: 0;
			width: 1px;
			background:$green;
		}
		&:last-child:after {
			content: none;
		}
		@include media($desktop) {
			padding: 0 3%;
		}
		@include media($tablet-land) {
			padding: 0 2%;
		}
	} 
	a {
		font-size: 13px;
		color: $green;
		letter-spacing: normal;
		&:hover {
			text-decoration: underline;
		}
	}
	
	@include media($phone) {
		padding-left: 0;
	}
}

.b-search-modal {
	position: absolute;
	z-index: 11;
	top: 180px;
	width: 785px;
	left: 20%;
	
}

.b-filter-modal {
	background:$mage;
	padding: 20px 25px 30px;
	width: $content;
	margin: auto;
	position: relative;
	position: absolute;
	position: fixed;
	z-index: 16;
	top: 12%;
	left: 50%;
	margin-left: -$content /2;
	@include media($tablet) {
		top: 0;
		padding: 20px 0 70px;
	}
	@include media($phone) {
		padding: 15px 0;
	}
	
}

.b-modal {
	@include hidden;
	overflow: hidden;
	

	@include media(max-height $tablet-port) {
		overflow: auto;
		height: 100%;
	}
	&.visible {
		@include visible;
	}
	@include media($desktop) {
		width: 100%;
		margin: 0;
		left: 0;
		right: 0;
	}
}





/*=====  End of FOOTER  ======*/
