/*=============================
=            FORMS            =
=============================*/

.b-join-form-wrap{
	text-align: left;
	padding-bottom: 50px;
}
 
.b-simple-form{
	color: #fff;
	
	h3 {
		font-size: 60px;
		font-weight: 300;
		padding-bottom: 10px;
		line-height: 1em;
	}
	p {
		font-size: 14px;
		padding-bottom: 15px;
	}

	.b-field-box {
		margin-top: 25px;
		input {
			width: 85%;
		}
		button { 
			float: right;
			width: 15%;
			height: 45px;
			background:#fff; 
			position: relative;
			@include transition(background .2s);

			.svg {
				 
				width: 20px;
				vertical-align: middle;
				
				@include transition(all .2s);
				fill:$green;
				
			}
			&:hover {
				background:$greenDark;
				&:after {
					color: #fff;
				}
				.svg {
					fill: #fff;
				}
			}

		}
	}

	
	&:after {
		content: "";
		display: block;
		clear: both;
	}

	@include media($tablet-port) {
		h3 {
			font-size: 31px;
		}
	}
	@include media($phone) {
	
		p {
			font-size: 10px;
		}
	
		input {
			width: 80%!important;
		}
		button {
			width: 20%!important;
		}
	}
}

.b-mobile-nav-form {
	.b-simple-form{
		h3 {
			font-size: 13px;
			font-weight: 600;
		}
		button {
			background:#fff;
			.svg {
				fill: $green;
			}
		}
	}
	.b-field-box {
		margin-top: 0;
		width: 100%;
	}
}

.b-form-link {
	color: #ccfc8a;
	font-weight: 900;
	font-size: 10px;
	display: inline-block;
	margin-right: 15px;
	&:hover {
		text-decoration: underline;
	} 
}

.b-field-box {
	position: relative;
	padding-bottom: 10px;
	float: left;
	width: 85%;
	min-width: 210px;
	label {
		position: absolute;
		left: 20px;
		top: 12px;
		&:before {
			content:"\f0e0";
			font-family: "fontAwesome";
			font-size: 16px;
			color: #fff;
			display: inline-block;
		}
	}
	input {
		width: 100%;
		font-size: 14px;
		color:#fff;
		background:#97d147;
		padding: 15px;
		height: 45px;
		padding-left: 55px;
		@include placeholder {
			font-size: 14px;
			color:#fff;
			font-family: $lato;
		}
	}
	&.white {
		input {
			background:#fff;
			color: $green;
			@include placeholder {
				color: $green;
			}
		}
		label:before {
			color: $green;
		}
		button {
			background:$green;
		} 
		.svg {
			fill:#fff!important;
		}
		&:hover {
			button {
				background:$greenDark;
			}
		}
	}
}
.b-search-form-mini {
	font-size: 0;
	height: 80px;
	width: 100%;
	label {
		display: inline-block;
		background:$greenDark;
		height: 100%;
		font-size: 22px;
		vertical-align: top;
		padding: 25px;
		width: 10%;
		text-align: center;
		&:before {
			content:'\f002';
			font-family: 'FontAwesome';
			color: $green;
			font-weight: 600;
		}
	}
	input {
		display: inline-block;
		background:$green;
		color: #fff;
		font-size: 30px;
		font-weight: 300;
		height: 100%;
		padding: 25px;
		width: 90%;
		@include placeholder {
			font-size: 30px;
			font-weight: 300;
			color: #fff;
			font-family: $lato;
			line-height: 30px;
		};
	} 
	button {
		background:none;
		
		position: absolute;
		top: 25px;
		right: 20px;

		.svg {
			
			width: 20px;
			vertical-align: middle;
			margin-top: 5px;
			
			@include transition(all .2s);
			fill:#fff;
			
		}
	}
	@include media($desktop) {
		width: 95%;
		max-width: 600px;
		position: relative;
		margin: auto;
		label {
			width: 15%;
		}
		input {
			width: 85%;
		}
		
	}
	@include media($tablet-port) {
		input {
			font-size: 22px;
			@include placeholder {
				font-size:22px;
				line-height: 22px;
			};
		}
	}
	@include media($phone) {
		height: 60px;
		label {
			padding: 15px;
		}
		input {
			width: 83%;
			padding: 10px;
		}
		button {
			top: 15px;
			right: 25px;
		}
	}
}

/*=====  End of FORMS  ======*/
