/*==============================
=            HEADER            =
==============================*/
.b-header {
	position: absolute;
	top: 0; 
	left: 0;
	right: 0;
	border-top: 5px solid $green;
	z-index: 15;
	@include visible;

	&.hidden {
		@include hidden;
	}
	&.fixed {
		position: fixed;
		background:#fff;
		border-top: 1px solid $border;
		border-bottom: 1px solid $border;
		text-align: center;
		.b-header-logo {
			margin: 20px 0;
			height: auto;
			a {
				width: 140px;
				height: 40px;
				background:url('../images/women-deliver-logo-green.svg') no-repeat;
			}
		}
		
		.b-nav-link {
			color: $green;
		}
		.b-nav-list_sub {
			display: none;
		}
		
		.b-nav-link_search:after {
			color: $gold;
		}
		.b-nav-top {
			display: inline-block;
			float: none;
		}
		.b-nav-drop {
			top: 100%;
		}
	}
	@include media($tablet) {
		border:none;
		text-align: left;
		& + * {
			margin-top: 120px;
		}
	}
}

.b-header_default{
	// position: relative;
	background:#fff;  
	border-bottom: 1px solid #cccccc;
	padding-bottom: 10px;
	.b-sub-nav-link  {
		color: #ffba01;
		font-weight: 600;
		&:hover {
			color: $green;
		}
	}
	.b-nav-item-lang:hover{
		.b-sub-nav-link_lang {
			color: $green;
			&:after {
			 	color:$green;
			} 
		}
	}
	.b-nav-link {
		color: $green;
		font-weight: 900;
		
	}
	.b-nav-link_search{
		&:hover:after {
			color: #fff;
		}
		&:after {
			color: $gold;
		}

	}
	.b-header-logo {
		
		a {
			background:url('../images/women-deliver-logo-green.svg') no-repeat;
		}
	}
	& + * {
		margin-top: 120px;
	}
	@include media($tablet) {
		padding-bottom: 0;
	}
}

.b-header_home {
	.b-header-logo {
		a {
			background:url('../images/women-deliver-logo-white.svg') no-repeat;
		}
	}
	@include media(1400px) {
		
	}
	
}

.b-header-nav {
	@include outer-container(1130px);


	@include media($desktop) {
		margin: $side-margin;
	}
	@include media($tablet) {
		display: none;
	}


}


.b-nav-mobile {
	display: none;
	@include media($tablet) {
		display: block;
	}
}
 
.b-header-logo {
	float: left;
	margin-top: 30px;
	width: 220px;
	height: 65px;
	a {
		display: block;
		width: 100%;
		height: 100%;
		background-size: contain!important;
	}
	@include media($tablet) {
		width: 150px;
		height: 45px;
		margin-top: 0;
	
	}
}
.b-nav-top{
	float: right;
}

.b-nav-list{
	li {
		display: inline-block;
		vertical-align: top;
		@include transition(background-color  .2s);

	}
	a {
		letter-spacing: 0.05em;
	}
} 

.b-nav-list_sub { 
	float: right;
	font-size: 0;
	padding-bottom: 18px;
	&>li {
		padding: 10px 25px;
		position: relative;
		&:after {
			content:"";
			display: block;
			position: absolute;
			left: 0;
			top: 15px;
			width: 2px;
			height: 15px;
			background:$gold_text;
			
		}
		&:first-child, &:last-child {
			&:after{
				content: none;
			}
		}
		&:last-child {
			// padding: 10px 0;
			padding: 0;
			margin-top: -5px;
		}
	}
	
}

.b-sub-nav-link {
	color: $gold_text;
	font-size: 14px;
	line-height: 1.5em;
	@include transition(color .2s);
	&:hover {
		color: #fff;
	}
}

.b-nav-item-lang {
	&:hover {
		.b-sub-nav-link:after {
			color: #fff;
		}
		.b-sub-nav-drop{
			@include visible;
		}
	}
}

.b-sub-nav-link_lang {

	&:after {
		content:"\f107";
		font-family: FontAwesome;
		color: $gold_text;
		display: inline-block;
		font-size: 20px;
		padding-left: 5px;
		vertical-align: middle;
		@include transition(color .2s);
	}
	
}

.b-nav-list_prime {
	clear: both;
	font-size: 0;
}

.b-nav-link {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	padding: 15px 20px;
	display: inline-block;
	@include transition(ease color .2s);
	margin-left: 2px;
	position: relative;
	&:hover, &.active {
		color: $green;
		&:before {
			height: 4px;
		}
		&.b-nav-link_search:after {
			color: $gold;
		}
	}

		
	&:before {
		content:"";
		position: absolute;
		left: 20px;
		right: 20px;
		bottom: 0;
		height: 0;
		background:$green;
		@include transition(ease height .2s);
	}
	
	@include media($desktop) {
		padding: 15px 10px;
	}
}

.b-nav-link_search {
	&:after {
		@include transition(ease color .2s);
		content:"\f002";
		display: inline-block;
		font-family: 'FontAwesome';
		font-size: 18px;
		color: #fff;
	}
	&:before {
		content:none;
	}
}

.b-nav-drop {
	padding: 15px 10px;
	position: absolute;
	left: 0;
	top: 100%;
	margin-top: 20px;
	background:$green;
	@include hidden;

	&.visible {
		@include visible;
	} 
}
 
.b-nav-drop__list {
	font-size: 0;
}

.b-nav-drop-item {
	position: relative;
	overflow: hidden;
	width: 235px;
	margin: 0 6px;
}

.b-drop-item-link {
	img {
		width: 100%;
		display: block;
		height: auto;
		@include transition(opacity .2s);
		opacity: 0.8;

	}
	&:hover {
		img {
			opacity: 1;
		}

		.b-drop-item-label {
			background:$greenDark;
			h4 {
				color: $gold;
			}
		}
	} 
}

.b-drop-item-label {
	margin-top: 5px;
	color: #fff;
	text-align: center;
	background:#6a9a21;
	padding: 15px;
	display: block;
	height: 75px;
	display: table;
	width: 100%;
	@include transition(background-color .2s);
	h4 {
		display: table-cell;
		vertical-align: middle;
		font-size: 17px;
		font-weight: 400;

	}
}

.b-sub-nav-drop {
	position: absolute;
	top: 35px;
	left: 0;
	z-index: 2;
	width: 100%;
	@include hidden;
	li {
		background:$gold_text;
		color: $brown;
		border-bottom: 1px solid $brown;
		padding: 10px;
		width: 100%;
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			
			background:#fff;
		}
	}
	a {
		font-size: 13px;
		font-weight: 600;
	}
}





/*=====  End of HEADER  ======*/

/*==================================
=            NAV MOBILE            =
==================================*/

.b-header-logo-mobile {
	float: left;
	width: 150px;
	height: 45px;
	a {
		background:url('../images/women-deliver-logo-green.svg') no-repeat;
		display: block;
		width: 100%;
		height: 100%;
		background-size: contain!important;
	}
	@include media($tablet) {

	}
}

.b-nav-mobile__top{
	background:$green;
	padding: 10px 25px 12px;
}

.b-mobile-top-list {
	&>li {
		display: inline-block;
		padding-right: 45px;
		&:last-child {
			padding-right: 0;
			position: absolute;
			right: 25px;
		}
		a{
			font-size: 15px;
			font-weight: 600;
			color: #fff;
			text-transform: uppercase;
			letter-spacing: 0.1em;
		}
	}
	
	@include media($phone) {
		& > li {
			padding-right: 35px;
			&:last-child {
				right: 15px;
			}
			a {
				font-size: 12px;
			}
		}
		
	}
}




.b-mobile-search-link {
	position: absolute;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	top: 0;
	right: 0;
	&:after {
		content:"\f002";
		font-family: "FontAwesome";
		color: #fff;
		font-size: 18px;
	}
}

.b-nav-mobile__bottom{
	padding: 17px 25px;
	background:#fff;
	position: relative;
	&:after {
		content:'';
		display: block;
		clear: both;
	}
}
.b-mobile-nav-btn {
	border-bottom: 4px solid $green;
	border-top: 4px solid $green;
	position: absolute;
	right: 25px;
	top: 27px;
	width: 35px;
	height: 25px;
	&:after {
		content:"";
		display: block;
		width: 100%;
		position: absolute;
		top: 50%;
		height: 4px;
		margin-top: -2px;
		left: 0;
		background:$green;
	}
}

.b-nav-mobile__back{
	background:$green;
	position: absolute;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	left: 0;
	overflow-y: auto;
	@include hidden;
	&.visible{
		@include visible;
	}
}
.b-mobile-list {
	border-bottom:10px solid #39590c;
	
}

.b-mobile-list__item{
	padding: 20px 25px 0;
	&:last-child{
		border-bottom: 1px solid  #60852e;
		padding-bottom: 20px;
	}
	&:first-child {
		border-top:1px solid  #60852e;
	}
	a{
		display: block;
		font-size: 14px;
		color: #39590c;
		font-weight: 600;
		text-transform: uppercase;
	}
	.b-icon-closer {
		right: 30px;
		top: 15px;
		position: absolute;	
		&:after {
			content:"\f107";
			font-family: "FontAwesome";
			color: #9bd133;
			font-size: 35px;
			display: block;
			@include transition (ease-in-out .2s transform   );
			
		}
		@include media($phone) {
			top: 10px;
			right: 25px;
		
		}
	}
	&.parent {

		
	}
	&.open {
		.b-icon-closer:after {
			@include transform( rotateX(180deg) );
		}
	}
	
}

.b-mobile-nav-closer{
	display: block;
	padding: 15px 25px;
	text-align: right;
	a {
		display: inline-block;
		width: 40px;
		height: 40px;
		position: relative;
		&:before,&:after  {
			content:"";
			display: block;
			width: 100%;
			height: 2px;
			top:50%;
			background:#fff;
			position: absolute;
			@include transform-origin(center);
		}

		&:before {
			left: 0;
			@include transform(rotate(45deg));
			
		}
		&:after {
			right: 0;
			@include transform(rotate(-45deg));

		}
	}
	
	@include media($phone) {

		a {
			width: 30px;
			height: 25px;
		}
	}
}



.b-mobile-list__item_large{
	padding: 15px 0 0;
	border-bottom: 1px solid  #60852e;
	position: relative;
	overflow: hidden;
	cursor: pointer;		
	& > a {
		padding-left: 25px;
		font-size: 25px;
		color: #fff;
		text-transform: capitalize;
		margin-bottom: 15px;
	}

	@include media($phone) {
		a {
			font-size: 20px;
		}
	}
}

.b-mobile-sub-menu {
	height: 0;
	@include transition ( ease-in-out height .2s );
}

.b-mobile-sub-list {
	background:#39590c;
	overflow: hidden;
	padding-top: 2px;
	.b-sub-item {
		a {
			display: table;
			width: 100%;
			height: 100%;
		}
	}
}

.b-sub-item {

	img {
		height: 75px;
		display: block;
		& ~ .b-sub-item-label {
			padding-left: 20px;
		}
	}
	
	display: block;
	background:#466915;
	margin-bottom: 3px;

}

.b-sub-item-label {
	color: #9bd133;
	font-size: 16px;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	
	text-transform: capitalize;
	padding: 15px 0 15px 40px;
	
	
}

.b-mobile-nav-form{
	padding: 20px 25px;
	text-align: center;
	max-width: 400px;
	margin: auto;
}

/*=====  End of NAV MOBILE  ======*/
