/*============================
=            MAIN            =
============================*/

body {
	
	&:after {
		content:"";
		display: block;
		position: fixed;
		// position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background:#000;
		z-index: 5;
		@include hidden;
	}
	&.shaded {
		&:after {
			@include visible(0.5);
		}
	}
	&.deep-shaded {
		&:after {
			@include visible(0.5);
			z-index: 10;
		}
	}
	&.light-shaded {
		&:after {
			@include visible(0.5);
			background:#fff;
		}
	}
}

.b-desktop-content {
	@include media($tablet) {
		display: none;
	}
}

.b-page-sidebar {

}

.b-sidebar-list {
	li {
		padding-bottom: 20px;
		max-width: 130px;
	}
	a {
		line-height: 1.3em;
		display: block;
		font-size: 16px;
		font-weight: 900;
		&:hover {
			color: $gold;
		}
		&.active {
			color: $green;
		}

	}
}



.l-content {
	@include outer-container(1130px);

	@include media($desktop) {
	
	}
	@include media($tablet) {
		@include outer-container(100%);
	
		.b-page-sidebar {
			display: none;
		}
	}
}

.l-content_with-sidebar {
	@include media(max-width $desktop ) {
		margin-left: 25px;
		margin-right: 25px;
	}

	@include media(max-width $tablet ) {
		margin-left: auto;
		margin-right: auto;
	}
	
	
}

.l-content-col {
	
	@include media($tablet) {
	
	}
}

// FLEX LAYOUT

.l-flex {
	@include display(flex);
	position: relative;
}

.l-flex_v-cells {
	@include flex-direction(column);
}


.l-flex-v-center {
	@include align-self(center);
}

.l-flex-col {
	width: 50%;
	position: relative;
	overflow: hidden;
	@include media($tablet) {
		width: 100%;
	}
}
.l-flex-cell {
	@include flex(1 auto);
}

.l-flex-col-6 {
	width: 60%;
	@include media($tablet) {
		width: 100%;
	}
}

.l-flex-col-4 {
	width: 40%;
	@include media($tablet) {
		width: 100%;
	}
}

.l-flex-cell {
	position: relative;
	overflow: hidden;
}



// FLEX GRID

.b-flex-grid {
	
	@include display(flex);
	@include flex-flow(row wrap);
	margin: -5px 0 0 -5px;
	overflow: hidden;
	@include media($phone) {
		margin: 0;
	}
}

.b-flex-grid__item {
	@include flex(1);
	position: relative;
	margin: 5px 0 0 5px;
	height: 340px;
	background:#000;

	&.b-article {
		max-width: 345px;
		height: 340px;
		h3 {
			font-weight: 300;
		}
	}
	@include media($tablet) {

		&.b-article {
			max-width: 100%;
		}
	}
	@include media($phone) {
		max-width: 90%!important;
		margin: auto;
		@include flex(0 0 100%);
		margin-bottom: 15px;
		height: auto!important;

		.b-socials-wrap{
			position: absolute;
			padding-left: 0!important;
		}
		&:after {
			content:"";
			display: block;
			position: relative; 
			height: 100%;
			padding-bottom: 100%;
			z-index: -1;

		}
	}
}

.b-flex-grid__item_fit {
	@include flex(1);
	@include media($tablet) {
		@include flex(0 0 100%);
	}
}

.b-flex-grid__item_full {
	@include flex(0 0 100%);
	height: 360px;

	text-align: center;
	h3 {
		display: block;
		position: absolute;
		top: 50%;
		width: 100%;
		left: 0;
		font-size:26px;
		color: #fff;
		@include transform(translateY(-50%));
		span {
			margin-top: 15px;
			display: block;
			color: $gold;
			text-transform: uppercase;
			font-size: 20px;
		}
	}
	@include media($phone) {
		max-width: 100%!important;
		margin-bottom: 0;
		h3  {
			font-size: 18px;
			left: 50%;
			max-width: 280px;
			@include transform(translate(-50%, -50%));
		}
	}
}

.b-flex-grid__item_1of3 {
	@include flex(0 0 33.333%);

}


.l-content-col-4 {
	@include span-columns(4, block-collapse);
	@include media($tablet) {
		width: 100%!important;
		@include omega();
	}
}


.l-content-col-3 {
	@include span-columns(1 of 5, block-collapse);
	@include media($tablet) {
		width: 100%!important;
		@include omega();
	}
}

.l-content-col-9{
	@include span-columns(4 of 5, block-collapse);
	@include media($tablet) {
		width: 100%!important;
		@include omega();
	}

}
.l-content-col-main {
	@include span-columns(8, block-collapse);
	overflow: hidden;
	@include media($tablet) {
		width: 100%!important;
		@include omega();
	}
}

.b-page-bottom, .b-home-bottom {
	
	@include media(min-width $tablet) {
		.l-content{
			background:#fff;
		}
	}
	
}

.b-page-bottom {
	.b-join-form-wrap {
		margin-top: -31px;
	}
}

.b-page-bottom_type-a {
	
	background:#f0efed url('../images/bg-pattern.jpg') repeat-x;
	background-position-y: 100%;
	
	@include media($tablet) {
		
		padding-bottom: 200px;
		background:#f0efed;
		position: relative;
		.l-content-col-4 {
			float: none;
			width: 90%!important;
			position: absolute;
			top: 200px;
			z-index: 1;
			left: 50%;
			margin-left: -45%;
		}
	}
	@include media($phone) {
		
		.b-join-form-wrap {
			padding: 30px 15px 40px;
			button {
				width: 20%;
			}
			h3 {
				padding-bottom: 0;
			}
			.b-field-box {
				width: 80%;
			}
		}
	}
}

.b-page-bottom_type-b {
	// background-color: #fff;
	background-color: #f0efed;
	padding-top: 85px;
	.issues_detail & {
		background-color:#fff;
		border-top: 5px solid $border;
		padding-top: 60px;
		.b-top-stories {
			border: 2px solid $border;
			padding-bottom: 22px;
			@include media($tablet) {
				background: #fff;
			}
		}
		.b-story-label  {
			color: #fff;
			background:$mage;
			padding: 5px 10px;
		}
	}
	.b-grid_page {
		@include media($tablet-land) {
			margin: 0 5%;
			width: 90%;
		}
		
	}

	.b-grid {
		padding-bottom: 2px;
		@include media($tablet-land) {
			max-width: 100%;
		}
		@include media($phone) {
			padding-bottom: 20px;
		}
	}

	.b-grid__item {
		margin-bottom: 0;
		overflow: hidden;
		width: 49.85%;
		height: 337px;
		@include media($tablet) {
			&.b-cat {

				@include span-columns(6 of 12);
			
			}
		}
		@include media($tablet-port) {
			width: 100%;
			margin-bottom: 20px;
		}
		@include media($phone) {
			height: 250px;
			
			&.b-cat {
				left: 50%!important;
			@include transform(translate(-50%,0));
				height: auto!important;
				width: 100%;
			}
		}
	}
	.l-content__left {
		width: 65.88078%;
		// overflow: hidden;
		position: relative;
		display: inline-block;
		float: left;
		@include media($tablet-land) {
			//margin: 0 5%;
			width: 100%;
			float: none;
		}
		@include media($phone) {
			margin-top: 0;
		}

		.l-content-col-main:last-child {
			width: 100%;
		}

		.b-page-cat {
			position: absolute;
			top: -30px;
			margin-bottom: 0;
			
			@include media($tablet-land) {
				margin: 0 5% 20px;
				width: 90%;

			}


			@include media($tablet-port) {
				position: static;
				
			}
			span {
					margin: 0;
				}
			}
		}

		.b-socials_small {
			@include media($tablet-port) {
				
			}
		}

		.l-content__right {
			width: 34.11922%;
			display: inline-block;
			float: left;
			margin-top: -85px;
			@include media($tablet-land) {
				margin: 20px 5%;
				width: 90%;
				float: none;
			}
			@include media($tablet-port) {
				margin-top: -30px;
				z-index: 20;
				position: relative;
			}

			.b-top-stories {
				margin-top: 0;
				padding-top: 15px;
				@include media($tablet-port) {
					padding: 0;
				}
			}

			.b-story-list {
			.b-story-list__item {
				&:nth-child(4) {
					border: none;
					@include media($tablet-land) {
						border-bottom: 2px solid #f0efed;
					}
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
}

.b-page-bottom_type-c {
	.b-socials {
		padding-left: 25%;
	}
	.b-simple-form h3 {
		font-size: 41px;
	}
	.b-join-form-wrap{
		position: relative;
		margin-top: 0;
		text-align: center;
		margin: 30px 0;
		padding: 5px 0;
		border-right:1px solid #6d726d;
		.b-field-box {
			margin: auto;
			margin-top: 15px;
			float: none;
			width: 60%;
			button {
				width: 20%;
			}
			input {
				width: 80%;
			}
		}
	}
	.b-socials-wrap {
		text-align: center;
		padding-top: 60px;
	}
	@include media($tablet-port) {
		.b-socials{
			padding: 20px 10px;
			img {
				height: 100%;
			}
		}
		.b-socials-col {
			float: none;
			width: 100%;
			
		}
		.b-join-form-wrap {
			margin: 0px;
			border-right: none;
		}
		.b-socials-wrap{
			padding-top: 20px;
		}
		.b-simple-form h3 {
			font-size: 28px;
		}
		.b-social-list li {
			margin: 0 2%;
		}
	}
}

/*=====  End of MAIN  ======*/
