/*================================
=            PAGE TOP            =
================================*/

.b-page-top {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 40px;
	text-align: center;
	color: #fff;
	margin-bottom: 55px;	
	h1 {
		font-size: 60px;
		padding-bottom: 15px;
	}
	p {
		font-size: 16px;
		padding-bottom: 25px;
		line-height: 1.5em;
	}
	@include media($tablet) {
		margin-bottom: 30px;
		background-position: center;
		padding-bottom: 100px;
	}
	@include media($phone) {
		padding-top: 35px;
		padding-bottom: 80px;
		h1 {
			font-size: 50px;
			line-height: 0.9em;
			padding-bottom: 15px;
		}
		p {
			font-size: 13px;
			line-height: 1.7em;
		}
	}
} 

.b-page-top__bg {
	position: relative;
	width: 100%;
	height: 100%;
	img {
		display: block;
		position: absolute; 
		min-width: 100%;
		min-height: 100%;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}
	@include media($tablet-port) {
		

		height: auto;
		img {
			position: relative;
			@include transform(none);   
			top: 0;
			left: 0;
			width: 100%;
			height: auto;
			min-height: 0;
			min-width: 0;
			z-index: 1;
		}
			
		&:after {
			content:"";
			display: block;
			position: absolute;
			height: 50%;
			bottom: 0;
			
			left: 0;
			width: 100%;
			@include linear-gradient(to bottom, rgba(255,255,255,0), #000);
			z-index: 1;
 
		}
	}


}

.b-page-top__title {
	max-width: 1024px;
	
	margin: auto;
	padding: 0 25px;
	position: absolute;
	bottom: 50px;
	left: 50%;
	width: 100%;
	z-index: 2;
	@include transform(translate(-50%,0));  
	a {
		display: inline-block;
	}
	.svg {
		fill: $gold;
		width: 35px;
		margin-bottom: 20px;

	}
	p {
		font-size: 24px;
		color: #fff;
		line-height: 1.5em;
		padding-bottom: 1.5em;
		font-weight: 300;
	}
	@include media($tablet-port) {
	
		position: relative;
		
	}
	@include media($phone) {
	
		p {
			font-size: 15px;
		}
		
	}
}

.b-page-top_works {
	position: relative;
	height: 675px;
	overflow: hidden;
	margin-bottom: 0;
	padding: 0;
	@include media(min-width $desktop) {
		height: 90vh;
	}
	@include media($tablet-port) {
		background:#000;
		height: auto;
		
	}

	
}

.b-page-top_youth {
	background-image: url('../images/top-page-youth_small.jpg');
	@include media($phone) {
		background-image:url('../images/top-page-youth_mobile.jpg');

	}
}

.b-page-top_extended {
	height: 460px;
	margin-bottom: 80px;
	background-color: #19547E;

	@include media($tablet) {
		margin-bottom: 10px;
		height: 360px;
	}
}

.l-top-inner {
	
	@include outer-container(650px);
}


.b-page-img {
	height: 510px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
	@include media($tablet-port) {
		height: 400px;
	}
    @include media($phone) {
        height: 255px;
    }

}
.b-page-img_detail {
	height: 250px;
	min-height: 250px;
	height: 18vw;
	background-position: center;
}
.b-page-img_general {
	height: 335px;
}

/*=====  End of PAGE TOP  ======*/
