/*===============================
=            SOCIALS            =
===============================*/

.b-socials {
	position: relative;
	width: 100%;
	overflow: hidden;

	img {
		position: absolute;
		display: block;
		min-width: 100%;
		width: auto;
		height: 100%;
		left: 50%;
		@include transform(translate(-50%,0));
	}
	@include media($tablet) {
		img {
			height: auto;
			min-height: 100%;
			top: 50%;
			@include transform(translate(-50%,-50%));
			
		}
	}
	@include media($phone) {
		img {
			height: 100%;
		} 
	}
} 

.b-socials-wrap {
	position: relative;
}

.b-socials-col {
	width: 50%;
	float: left;
	height: 100%;
}

.b-socials_large{
	height: 100%;
	.b-socilas__inner {
		text-align: left;
	}

	@include media($phone) {

	}
}

.b-socials_small {
	height: 185px;

	.b-socials__inner {
		text-align: center; 
	}

	@include media($tablet-port) {
		.b-socials_small{
			height: 200px;
		}
	}
}

.b-socials__inner {
	position: relative;
	width: 50%;
	height: 100%;
	padding: 55px 0 95px;
	float: right;


	@include media($tablet-port) {
		padding: 50px 0;
		a:after {

			font-size: 30px;
		}
	}
	@include media($phone) {

		width: 75%;
		max-width: 250px;
		display: block;
		float: right;
		// padding-top: 30px;
		vertical-align: top;

		a:after {
			font-size: 25px;
		}
	}

}

.b-social-list {
	li {
		display: inline-block;
		padding: 10px 15px;
		&:first-child {
			padding-left: 0;
		}
	}
	@include media($tablet-port) {
		li{
			padding: 5px 10px;
		}
	}
}

.b-socials-header {
	font-size: 21px;
	color: #fff;
	font-weight: 600;
	padding-bottom: 20px;
	@include media($tablet-port) {
	
		font-size: 15px;
		padding-bottom: 15px;
	}
	@include media($phone) {
		
		// font-size: 16px;
		font-size: 13px;
		padding-bottom: 15px;
	}
}

.b-social-link {
	color: #fff;
	&:after{
		content:"";
		font-size: 40px;
		color: inherit;
		font-family: "FontAwesome";
	}
	&:hover {
		color: $gold;
	}
	@include media($phone) {
		&:after {
			font-size: 25px;
		}
	}
}

.b-social-link_tube:after {
	content:"\f167";
}

.b-social-link_fb:after {
	content:"\f09a";
}
.b-social-link_tw:after {
	content:"\f099";
}
.b-social-link_inst:after {
	content:"\f16d";
}
.b-social-link_in:after {
	content:"\f0e1";
}
/*=====  End of SOCIALS  ======*/
