/*===================================
=            TOP STORIES            =
===================================*/

.b-top-stories{
	background:#fff;
	padding: 20px 0 15px;
	
	margin-top: -55px;
	@include media($tablet) {
		margin: 0;
		padding: 25px 20px;
		padding-top: 0;
		background:#f0efed;
	}
}
.b-top-stories-title {
	padding: 10px  30px 3px;
	background:#fff;
	@include media($tablet) {
		padding: 20px  30px 0;
	}
}

.b-top-stories-heading {
	font-size: 22px;
	color: $green;
	font-weight: 600;
	
	display: inline-block;
	@include media($phone) {
		font-size: 15px;
	}
}

.b-all-stories-link{
	text-decoration: underline;
	color: $green;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 12px;
	float: right;
	margin-top: 7px;
	&:hover {
		color: $gold;
	}
	@include media($phone) {
		font-size: 10px;
		margin-top: 5px;
	}
}
.b-story-list {
}

.b-story-list__item {
	@include transition(background-color .2s);
	background:#fff;
	border-bottom: 2px solid $border;
	
	
	a {
		padding: 30px 2% 25px 30px;
		display: block;
		letter-spacing: normal;
		&:after {
			content:'';
			display: block;
			clear: both; 
		}
	}
	img {
		float: left;
		margin-right: 15px;
		margin-left: -30px;
		display: block;
		max-height: 80px;
		max-width: 30%;
	}
	&:hover {
		background:#e3e2df;
		p {
			color: $mage;
			text-decoration: underline;
		}
	}
	p {
		font-size: 14px;
		color: $dark;
		font-weight: 600;
	}
	&:last-child {
		border-bottom: none;
	}
	@include media($tablet) {
		a {
			padding: 30px;
		}
	}
	@include media($phone) {
		img {
			width: 75px;
			margin-left: -15px;
		}
		p {
			font-size: 10px;
		}
		a {
			padding: 20px 15px;
		}
	}
	
} 
.b-story-text {
	width: 100%;
	display: inline-block;
	img ~ & {
		width: 70%;
	}
}

.b-story-label {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 12px;
	display: inline-block;
	margin-bottom: 5px;
	color: $mage;
}

.b-story-label_mage {
	background:$mage;
	color: #fff;
}

/*=====  End of TOP STORIES  ======*/
