/*===============================
=            BUTTONS            =
===============================*/

.b-btn {
	@include transition(color .2s, background-color .2s, border-color .2s);
	font-size: 14px;
	color: #fff;
	display: inline-block;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-align: center;
	&:before, &:after {
		@include transition(background-color .2s);
	}
	@include media($phone) {
		font-size: 12px;
		padding: 15px 20px;

	}
}

.b-btn-icon{ 
	font-style: normal;
	font-weight: 300;
	color: #fff;
	&:before {
		font-family: 'FontAwesome';
		font-size: 23px;
	}
}



.b-btn_mage {
	background:$mage;
	color: #fff;
	&:hover {
		background:$gold;
	}
}

.b-btn_gold {
	background:$gold;
	color: #fff;
}

.b-btn_green {
	background:$green;
	
	&.b-btn_border {
		border-color:$green;
		&:after {
			background:$green;
		}
		&:before {
			background:$green;
		}
		&:hover {
			color: $gold;
			border-color: $gold;
			&:before, &:after {
				background:$gold;
			}
		}
	}

}

.b-btn_white {
	background:#fff;
	color: $mage;
	&:hover {
		background:$gold;
		color: #fff;
	}
}

.b-btn_blue {
	background:$blue;
	&.b-btn_border {
		border-color:$blue;
		color: $blue;
		&:after {
			background:$blue;
		}
		&:before {
			background:$blue;
		}
		&:hover {
			color: $green;
			border-color: $green;
			&:before, &:after {
				background:$green;
			}
		}
		.b-btn-icon {
			color: $green;
		}
	}
}

.b-btn_brown {
	background:#7c5633;
}



.b-btn_border {
	padding: 25px 30px 20px;
	background: none;
	border-width: 0 0 4px 4px;
	border-style: solid;
	font-weight: 900;
	&:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		height: 4px;
		top: 0;
		left: 0;
	} 
	&:before {
		content:"";
		display: block;
		position: absolute;
		width: 4px;
		top: 20px;
		bottom: 0;
		right: 0;
	}

	.b-btn-icon{
		
		position: absolute;
		right: -4px;
		top: -5px;
		@include transform(rotate(45deg));
		display: inline-block;
		&:before {
			content:'\f062';
			
		}
	}
	.svg {
		width: 16px;
		height: 16px;
		position: absolute;
		top: 0;
		right: 0;
		
		fill:#fff;
		
	}
	&.b-btn_blue .svg{
		fill: $green;
	}
	@include media($phone) {
		border-width: 0 0 2px 2px;
		&:before {
			width: 2px;
			top: 13px;
		}
		&:after {
			height: 2px;
			right: 13px;
		}
		.svg {
			width: 10px;
			height: 10px;
		}
	}
} 

.b-btn_solid {
	padding: 15px 20px;

	&:hover {

		&.b-btn_green {
			color: #fff;
			background:$gold;
		}
		
	}
}
.b-btn_donate {
	font-weight: 600;
	&:before {
		content: "\f08a";
		font-family: "FontAwesome";
		font-size: 14px;
		display: inline-block;
		margin-right: 10px;
	} 
	&:hover {
		background:$gold;
		color: #fff;
	}
}

.b-btn_get {
	color: #fff;
	
	padding: 20px 30px 25px;
	span {
		display: block;
	}
	&:hover {
		border-color: $gold;
		&:before, &:after {
			background:$gold!important;
		}
	}

	&.b-btn_border {
		&:before {
			top: 0;
			bottom: 20px;
			background:#fff;
		}
		&:after {
			bottom: 0;
			top: auto;
			background:#fff;
		}
		.svg {
			top: auto;
			bottom: 0;
			fill: $gold;
			@include transform(rotate(90deg));
		}
	}
	@include media($phone) {
		border-width:2px 0 0 2px;
	}
}






$get_btn_border: #d49b01;

.b-btn__icon{
	font-family: $fa;
	color: $get_btn_border;
	@include transition(ease color .2s);
	font-size: 50px;
	display: block;
	float: left;
	margin-right: 20px;
	@include media($phone) {
		font-size: 35px;
	}
}

.b-btn__icon_pdf {
	
}

.b-btn_get-extended{
	border-color:$get_btn_border;
	border-width:4px 0 0 4px;
	padding: 40px 50px;
	background: none;
	border-style: solid;
	font-weight: 400;
	font-size: 22px;
	text-align: left;
	&:hover {
		border-color: $gold;
		&:before, &:after {
			background:$gold!important;
		}
	}
	&:before {
		content:"";
		display: block;
		position: absolute;
		width: 4px;
		right: 0;
		top: 0;
		bottom: 20px;
		background:$get_btn_border;
	}
	&:after {
		content:"";
		display: block;
		position: absolute;
		right: 20px;
		height: 4px;
		left: 0;
		bottom: 0;
		top: auto;
		background:$get_btn_border;
	}
	.svg {
		width: 16px;
		height: 16px;
		position: absolute;
		right: 0;
		top: auto;
		bottom: 0;
		fill: #fff;
		@include transform(rotate(90deg));
	}

	&:hover {
		border-color:#fff;
		.b-btn__icon {
			color: #fff;
		}
		&:before, &:after {
			background:#fff!important;
		}
	}
	@include media($phone) {
		border-width:2px 0 0 2px;
		font-size: 16px;
		&:before {
			width: 2px;
			top: 13px;
		}
		&:after {
			height: 2px;
			right: 13px;
		}
		.svg {
			width: 10px;
		}
	}
}

.b-btn_contact {
	font-weight: 600;
	&:before {
		content:  "\f003";
		font-family: "FontAwesome";
		font-size: 14px;
		display: inline-block;
		margin-right: 10px;
	} 

}

.b-btn-set {
	position: relative;
}

.b-btn-set_2 {
	@include outer-container(100%);
	.b-btn{
		@include span-columns(6,block-collapse);
		&:before {
			font-weight: 400;
		}
	}
}


/*=====  End of BUTTONS  ======*/
