/*============================
=       ISSUES / GENERAL DETAIL        =
============================*/


.general_detail {
	background:#fff;
}

.b-page-content {
	& + .b-page-bottom {
		margin-top: 50px;
	}
	@include outer-container($content);
	padding-top: 60px;
	position: relative;
	@include media($desktop) {
		margin: 0 25px;
	}
	@include media($tablet) {
		padding-top: 55px;
	}
	@include media($phone) {
		padding-top: 20px;
	}
	&>img {
		display: block;
		max-width: 100%;
		margin-bottom: 30px;
	}
}

.b-page-content_general-detail{
	padding-top: 40px;
	padding-bottom: 40px;
	.b-page-content__inner {
		padding: 0;
	}
}

.b-page-btn {
	position: absolute;
	top: 60px;
	right: 0;
	@include media($tablet) {
		position: relative;
		top: 0;
		margin-bottom: 30px;
	}
	
	.b-btn_share {
		width: 77px;
		background-color: $green_page;
		color: #fff;
		text-transform: uppercase;
		@include transition(all 0.4s ease 0s);
		margin-bottom: 2px;
		cursor: pointer;
		span {
			padding: 5px 0 17px;
			display: block;
			font-size: 8px;
			font-weight: bold;
		}
		&:before {
			padding-top: 15px;
			font-size: 32px;
			display: block;
		}
		@include media($tablet) {
			display: inline-block;
			margin-bottom: 0; 
			vertical-align: top;
			height: 77px;
		}
		@include media($phone) {
			width: 47px;
			height: 47px;
			padding: 10px 0;
		
			&:before {
				font-size: 20px;
				font-weight: 400;
				padding-top: 0;

			}
			
			span {
				display: block;
				font-size: 8px;
				font-weight: bold;
				padding: 0;
			}
		}

		span {
			display: block;
			font-size: 8px;
			font-weight: bold;
		}
	}
	a { 
		width: 77px;
		height: 77px;
		background-color: $green_page;
		margin-bottom: 2px;
		display: block;
		@include transition(all 0.4s ease 0s);
		color: #fff;
		text-transform: uppercase;
		padding: 17px 0; 

		&:before {
			font-size: 32px;
		}

		@include media($tablet) {
			display: inline-block;
			margin-bottom: 0;
		}
		@include media($phone) {
			width: 47px;
			height: 47px;
			padding: 10px 0;
		
			&:before {
					font-size: 20px;
					font-weight: 400;

				}
			}
		}

		span {
			display: block;
			font-size: 8px;
			font-weight: bold;
		}

		.b-btn_share {
			text-align: center;

		&:before {
			content: "\f045";
			font-family: 'FontAwesome';
			color: #fff;
			margin-right: 0;
		}

		&:hover {
		 background:$gold;
		 color: #fff;
		}

		&.open {
			background:$gold;
			color: #fff;
		}
	}

	.b-btn_donate {
		text-align: center;

	&:before {
		color: #fff;
		margin-right: 0;
	}

	&:hover {
		background-color: $green_page;
	}

	.like {
		display: none;
	}

	&.like {
		background:$gold;
		color: #fff;

		&:before {
			content: '\f004';
		}

		span {
			display: none;
		}

		.like {
			display: block;
			}
		}
	}
}

.b-page-socials {
		margin-top: -2px;
		margin-bottom: 2px;
		height: 0;
		max-height: 0;
		overflow: hidden;
		@include transition(all 0.4s ease 0s);
		@include media($tablet) {
		position: absolute;
		top: 81px;
	}
	@include media($phone) {
		top: 51px;
	}

	&.open {
		height: 100%;
		max-height: 345px;
		@include transition(all 0.4s ease 0s);
		@include media($tablet) {
			height: 150px;
		}
	}

	.b-btn_share:hover & {
		height: 100%;
		max-height: 345px;
		@include transition(all 0.4s ease 0s);
		@include media($tablet) {
			height: 150px;
		}
	}

	.b-social-link {
		margin-bottom: 0;
		height: 49px;
		text-align: center;
		padding: 13px 0;
		@include media($tablet) {
			margin-bottom: 2px;
		}

		&:after {
			font-size: 23px;
            opacity: 0.5;
            @include transition(all 0.4s ease 0s);
		}

		&:hover {
            color: #fff;

            &:after {
                opacity: 1;
            }
        }
	}

	.b-social-link_fb {
		background-color: #335796;
	}

	.b-social-link_tw {
		background-color: #00c2ec;
	}

	.b-social-link_pint {
		background-color: #d51a28;
	
		&:after {
			content: '\f0d2';
		}
	}
	
	.b-social-link_inst {
		background-color: #117eac;
	}

	.b-social-link_google {
		background-color: #e6383f;

	&:after {
			content: '\F0D5';
		}
	}

	.b-social-link_in {
		background-color: #0071b1;
	}

	.b-social-link_mail {
		background-color: #ffaf4b;

		&:after {
			content: '\f0e0';
		}
	}
}


.b-page-content__inner {
	@include outer-container($content);
	padding: 0 125px;

	font-family: $lato;
	color: #000;
	text-align: left;
	@include media($tablet-port) {
		padding: 0;
	}

	@include media($phone) {
		
	}

	h2 {
		font-size: 34px;
		line-height: 40px;
		font-weight: bold;
		width: 100%;
		max-width: 95%;
		margin-bottom: 25px;
		@include media($tablet) {
			max-width: 100%;
		}
		@include media(620px) {
			margin-top: 25px;
		}
		@include media($phone) {
			font-size: 23px;
			line-height: 26px;
			margin-top: 5px;
		}
	}

	h3 {
		font-size: 19px;
		line-height: 26px;
		color: $green_page;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 25px;
		@include media($phone) {
			font-size: 14px;
			line-height: 20px;
		}
	}
 
	p {
		font-size: 14px;
		line-height: 1.75em;
		width: 100%;
		max-width: 85%;
		// padding-right: 80px;
		margin-bottom: 30px;
		font-weight: 600;
	
		
		@include media($tablet) {
			max-width: 100%;
		}
		@include media($phone) {
			line-height: 21px;
			margin-bottom: 20px;
		}

	}
	img {
		text-align: left;
		margin-bottom: 40px;
		max-width: 100%;

	
		@include media($phone) {
			margin-bottom: 20px;
		}

	
	}
}

.b-page-cat {
	margin-bottom: 15px;

	span {
		background:$mage;
		padding: 5px 14px;
		color: #fff;
		font-size: 12px;
		// line-height: 30px;
		line-height: 1.5em;
		display: inline-block;
		text-transform: uppercase;
		margin: 0 9px 9px 0;
		@include media($phone) {
			
		}
	}

	.b-page-cat__bold {
		font-weight: bold;

        &:first-child {
            display: table;
        }
	}
}


.b-block-img {
	position: relative;
	float: left;
	text-align: right;
	width: 375px;
	margin-left: -125px;
	padding-right: 40px;
	p {
		color: $green_page;
		font-size: 18px;
		line-height: 1.5em;
		font-style: italic;
		text-align: right;
		max-width: 100%;
		width: auto;
		margin-bottom: 0;
	
		@include media($phone) {
			font-size: 16px;
		}
	}

	img {
		width: 100%;
		max-width: 200px;
		margin: 5px;
		margin-bottom: 20px;
	
	}
	@include media($tablet ) {
		float: none;
		width: 100%;
		margin: 0;
		padding-right: 0;
		text-align: left;
		img {
			float: left;
			padding-right: 20px;
			margin-bottom: 0;
		}
		p {
			text-align: left;
		}
	}
	@include media($phone) {
		img {
			float: none;
			margin-bottom: 20px;
		}
	}

}


/*============================
=    END ISSUES / GENERAL DETAIL       =
============================*/
