/*============================
=            HOME            =
============================*/

.b-home-top{
	height: 740px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('../images/top-home.jpg');
	position: relative;
	@include media($desktop) {
		background-size: initial;
		background-position: center;
	}
	@include media($tablet) {
		height: 640px;
		background-position: top;
		background-size: initial;
		background-image: url('../images/top-home_mobile.jpg');
	}
	@include media($phone) {
		height: 480px;
		background-position: center;
	}
}

.b-home-top_expanded {
	height: 100vh;
	// display: table;
	width: 100%;
	background-size: cover;

	.b-home-top-title {
		background: none;
		width: 100%;
		padding: 0 15%;
		top:50%;
		@include transform(translateY(-50%));
		position: absolute;
		margin: 0;
		
	}
	

	@include media($tablet) {
		background-position: center;
		height: 75vh;
		.b-home-top-title  {
			vertical-align: bottom;
			top: 55%;
			padding: 0 5%;

			h1 {
				color: #fff;
				font-size: 39px;
			}
			.b-btn {
				color: #fff;
				.svg path {
					fill:#fff;
				}
			}
		}
	}
	@include media($phone) {
		min-height: 320px;
		.b-home-top-title {
			padding-bottom: 35px;
			h1 {
				line-height: 1em;
			}
			p {
				font-size: 13px;
				line-height: 1.3em;
				padding-bottom: 15px;
			}
			.b-btn {
				width: 125px;
				padding: 15px 20px;


			}
		}
	}
}



.b-mobile-additional-content {
	display: none;
	@include media($tablet) {
		display: block;
	}
	@include media($phone) {

	}
}

.b-mobile-additional-content_simple-text {
	background:$green;
	text-align: center;
	padding: 50px 30px 130px;
	h3 {
		color: #fff;
		font-size: 36px;
		font-weight: 600;
		max-width: 500px;
		margin: auto;

	}
	@include media($phone) {
		padding: 25px 30px 65px;
		h3 {
			max-width: 250px;
			font-size: 18px;
		}	
	}
}

.home-expanded {
	
	
	// .b-home-grid {
	// 	margin-top: -90px;
	// }

	@include media($phone) {
		.b-home-grid {
			margin-top: -45px;
		}
	}
}

.b-home-top-title {
	position: relative;
	top: 33.8%;
	top: 250px;
	float: right;
	@include outer-container($content);
	h1 {
		font-size: 39px;
		color: #fff;
		font-weight: 300;
		max-width: 480px;
		padding-bottom: 30px;
	}
	.b-btn {
		width: 180px;
		font-size: 16px;
	}
	@include media($desktop) {
		margin: $side-margin;
	}


	@include media($tablet) {
		position: absolute;
		top: auto;
		bottom: 0;
		width: 100%;
		background:#fff;
		text-align: center;
		padding: 30px 25px 40px;
		margin: 0;
		h1 {
			color: $green;
			max-width: 500px;
			margin: auto;
		}
		.b-btn{
			color: $green;
			svg {
				fill:$gold;
			}
		}
	}
	@include media($phone) {
		padding: 15px 25px 25px;
		h1 {
			font-size: 21px;
			padding-bottom: 15px;
		}
		.b-btn {
			font-size: 12px;
			padding: 15px 25px;
			width: auto;
		}
	}
}

.b-home-top-title_full-view {
	text-align: center;
	color: #fff;
	
	h1 {
		font-size: 76px;
		max-width: none;
		font-weight: 600;
		padding-bottom: 10px;
	} 
	p {
		font-size: 20px;
		padding-bottom: 30px;
		line-height: 1.5em;
		max-width: 940px;
		margin: auto;    
	}
	.b-btn {
		padding: 22px 30px 17px;
		width: 210px;
	}
}

.b-home-updates{
	background:#fff;
}


.b-home-grid {
	margin-top: -135px;
	position: relative;	
	margin-bottom: 40px;
	margin-top: -140px;
	background:#fff;
	@include outer-container($content);
	.b-article {
		height: 338px;
		
	}
	
	.b-action-callout {
		background:#fff;

	}
	// &:before {
	// 	content:"";
	// 	display: block;
	// 	position: absolute;
	// 	width: 90%;
	// 	height: 100%;
	// 	top: 0;
	// 	left: 0;
	// 	background:#fff;
	// }
	@include media(1400px) {
		margin: 0 8vw;
		margin-top: -140px;
		margin-bottom: 40px;

		.b-article {
			height: 24vw;
		}
		
		.b-article__text h3 {
			font-size: 1.75vw;
		}
		.b-conference-bar {
			padding: 7%;
			h3 {
				font-size: 2.5vw;
			}
			.b-btn {
				margin-top: 0;
			}
		}
		
	}
	@include media($desktop) {
		// margin: $side-margin;
		.b-conference-bar {
			padding: 5%;
			.b-btn {
				padding: 20px;
			}
		}

	}
	@include media($tablet) {
		.b-action-callout {
			padding-bottom: 30px;
		}
		margin: 0;
		margin-bottom: 10px;
		.b-conference-bar {
			padding: 30px 20px;
			margin-bottom: 25px!important;
			.b-btn {
				padding: 20px 25px;
			}
			h3 {
				font-size: 28px;
				line-height: 1.2em;
				span {
					padding-bottom: 5px;
				}
			}
		}
		.b-article, .reordered { 
			position: relative;
			width: 380px;
			margin: auto;
			margin-bottom: 10px;
		}
		.b-article {
			height: 338px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.b-article__text h3 {
			font-size: 24px;
		}
	}
	@include media($phone) {
		.b-article, .b-action-callout{
			width: 275px;
			height: 250px;
		}

		.b-article__text {
			h3 {
				font-size: 17px;
			}
		}
		.b-action-callout {
			height: auto;
			h3 {
				font-size: 15px;
			}
		}
	}
}
.b-home-grid__left {
	position: relative;
	@include span-columns(100 of 150);
	.b-conference-bar{
		@include row;
	}
	.b-article {
		@include span-columns(50 of 100);

	}
	@include media($tablet) {
		
	
	}

}  

.b-home-grid__right {
	position: relative;
	@include span-columns(50 of 150);
	@include omega;
	margin-top: -80px;
	@include media($tablet) {
		margin-top: 0; 
		
	}
}

.b-home-grid__right, .b-home-grid__left {

	@include media($tablet) {
		@include fill-parent();
		.b-article, .b-action-callout {
			float: none;
			@include omega;
			width: 380px;
			margin: auto!important;
			margin-bottom: 20px!important;
		}

	}

}


.b-conference-bar {
	background:#fff;
	// padding: 50px 60px 50px 70px;
	padding: 50px;
	.b-text-wrap {
		display: inline-block;
	}

	.b-btn {
		float: right;
		padding: 20px 25px;
		margin-top: 7px;
	}
	h3 {
		font-size: 33px;
		color: #000;
		font-weight: 900;
		text-transform: uppercase;
		padding-bottom: 5px;
		span {
			font-size: 16px;
			color: $green;
		}
	}
	span {
		font-size: 16px;
		color: $gold;
		font-weight: 900;
		display: block;
		line-height: 0.8em;
	}
	@include media($desktop) {
		padding: 50px 40px;
		h3 {
			font-size: 28px;
		}
	}
	@include media($tablet) {
		
		background:$green;
		text-align: center;
		padding: 30px 20px 40px;
		margin-bottom: 20px;
		position: relative;
		width: 100%!important;
		.b-text-wrap{
			display: block;
			padding-bottom: 15px;
		}
		h3 {
			span {
				color: #fff;
			}
		}
		.b-btn {
			float: none;
			display: inline-block;
			background:#91c62a;
		}
		.home-expanded & {
			display: none;
		}

	}

	@include media($phone) {
		padding: 20px;
		h3 {
			font-size: 20px;
			line-height: 1.5em;
			span {
				font-size: 12px;
			}
		}
		span {
			font-size: 12px;
			font-weight: 600;
		}
		.b-btn {
			font-size: 12px;
			padding: 15px 25px;
			margin-top: 0;
		}
	}	
}

.b-action-callout {
	width: 100%;
	background:#fff;
	text-align: center;
	padding-top: 30px;

	img {
		display: block;
		max-width: 50px;
		margin: auto;
		padding-bottom: 10px;

	}
	span {
		font-size: 10px;
		font-weight: 900;
		color: $green;
		display: block;
		padding-bottom: 5px;
	}
	h3 {
		font-size: 22px;
		color: #000;
		font-weight: 600;
		text-transform: uppercase;
		padding-bottom: 35px;
	}
	a {
		color: $green;
		text-decoration: underline;
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		&:hover {
			color: $gold;
		}
	}

	@include media($desktop) {
		h3 {
			font-size: 1.6vw;
			padding-bottom: 1.5em;
		}
	}
	@include media($tablet) {
		h3 {
			font-size: 18px;
		}
	}
}

.b-home-row {
	height: 480px;
	margin-top: 40px;
	.b-article {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		max-width: none;
	}
	.b-article__bg {
		height: 100%;
	}
	.b-article__text {
		position: relative;
		left: 5px;
		top: 230px;
		@include outer-container($content);
		color: #fff;
		span {
			max-width: 380px;
		}
		h3 {

		}
		strong {
			color: $green;
		}

	}
	@include media($desktop) {
		.b-article__text {
			left: 30px;
		}
	}
	@include media($tablet) {
		height: 350px;
		margin-top: 25px;
		.b-article__text {
			left: 35px;
			top: auto;
			position: absolute;
			bottom: 25px;
		}
	}

	@include media($phone) {
		height: 270px;
		.b-article__text {
			h3 {
				font-size: 22px;
			}
			strong {

				font-size: 12px;
			}
		}
	}
}


.b-article-row-text-inner {
	display: block!important;
	max-width: 380px;
	box-shadow: none!important;
	background:transparent!important;
}

/*==================================
=            YOUTH GRID            =
==================================*/

.b-youth {
	background: url(../images/bg-pattern.jpg);
	padding: 75px 25px 100px;
	text-align: center;
	border-bottom: 9px solid $green;

	.b-grid-filter-search {
		margin: auto;
		margin-bottom: 30px;
	}
	.b-btn{
		width: 265px;
	}
	@include media($tablet) {
		padding: 30px 25px 50px;
		border-bottom:  10px solid $green;
	}
	@include media($phone) {
		padding: 20px 25px 25px;
		.b-btn {
			width: 180px;
			padding: 15px 20px;
		}
	}
}

.b-youth__title {
	@include outer-container(600px);
	text-align: center;
	h2 {
		font-size: 60px;
		font-weight: 300;
		color: $blue;
		padding-bottom: 10px;
	}
	p {
		font-size: 16px;
		color: $dark;
		padding-bottom: 25px;
		font-weight: 600;
		line-height: 1.5em;
	}
	@include media($tablet) {
		h2 {
			font-size: 45px;
		}

	}
	@include media($phone) {
		
	
	}
}

.b-person-grid {
	@include outer-container(945px);
	padding-bottom: 30px;
	@include media($tablet) {
		@include outer-container(350px);
	}
}



.b-person-grid__item {
	@include span-columns(30 of 210);
	@include omega(7n);
	height: 135px;
	
	margin-bottom: 0.13179%;
	
	
	@include media($tablet) {
		display: none;
		@include omega;
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			display: inline-block;
			@include omega;
			float: none;
			width: 49%;
			max-width: 150px;
			display: inline-block;
		}
	}
}


/*=====  End of YOUTH GRID  ======*/
 
.b-home-bottom {
	background:$border;
	padding-bottom: 47px;

	&:after {
		content:"";
		display: block;
		clear: both;
	}
	@include media($tablet ) {
		padding-bottom: 0;
 	
 	}
}

 /*========================================
 =            ISSUE CATEGORIES            =
 ========================================*/
 
.b-home-issue-cats {
 	@include outer-container(100%);
 	.b-issue-cat {
 	 	width: 50%;
 	 	float: left;
 	}
 	@include media($tablet ) {
 		display: none;
 	}
 }

 .b-issue-cat {
 	&.light {
 		background:#fff;
 		.b-cat-list{
			background:$border;
 		} 
 		li {
 			background:#fff;
 		}
 	}

 	&.dark {
 		background:$border;
 		.b-cat-list{
			background:#fff;
 		}
 		li {
 			background:$border;
 		}
 	}
}

 .b-cat-top {
	position: relative;
	height: 50px;
}

 .b-cat-label {
 	display: inline-block;
 	font-size: 14px;
 	color: #fff;
 	text-transform: uppercase;
 	font-weight: 600;
 	padding: 16px  20px;
 	position: absolute;
 	top: 0;
 	left: 0;
}

 .b-cat-label_mage{
 	background:$mage;
}

.b-cat-link{
 	font-size: 12px;
 	font-weight: 600;
 	color: $green;
 	position: absolute;
 	top: 20px;
 	right: 35px;
 	text-decoration: underline;
 	text-transform: uppercase;
 	&:hover {
 		color: $gold;
 	}
}
 
.b-cat-list {
	
 	li {
		margin-bottom: 2px;
		@include transition(background-color .2s);
		&:hover {
			background:#e3e2df;
		}
		&:last-child {
			margin: 0;
		}
 	}
 	a {
 		line-height: 1.5em;
 		display: block;
 		font-size: 14px;
 		color: $dark;
 		padding: 25px 40px 30px;
 		font-weight: 600;
 		&:hover {
			color: $mage;
			text-decoration: underline;
 		}
 	}
}
 /*=====  End of ISSUE CATEGORIES  ======*/
 

/*=====  End of HOME  ======*/ 
   