/*===================================
=            PAGE ISSUES            =
===================================*/

.issues {
	background:#f0efed; 
	.b-footer-mobile {
		background:#fff;
	}
	@include media($tablet) {
		
		
	}
} 
.issues_detail {
	background:#fff;
}

.b-filter-options__closer {
	position: absolute;
	top: 15px; 
	right: 25px;
	&:after {
		content: "\f05c";
		font-family: "FontAwesome";
		color: #fff;
		font-size: 35px;
	}
	@include media($tablet) {
		
		&:after {
			font-size: 30px;
		}
	}
	@include media($phone) {
		top: 12px;
		&:after {
			font-size: 25px;
		}
	}
}
.b-filter-options__title {
	font-size: 20px;
	font-weight:400;
	color: #fff;
	padding-bottom: 25px;
	text-align: left;
	@include media($tablet) {
		padding-left: 5%;
		font-size: 18px;
	}
	@include media($phone) {
		font-size: 16px;
		padding-bottom: 15px;
	}
}

.b-filter-list {
	text-align: left;
	@include outer-container(100%);
	padding-bottom: 20px;
	&>li {
		border:1px solid #cccccc;
		@include span-columns(10 of 40);
		height: 265px;
		overflow: auto;
		background:#fff;
		padding: 15px 10px;
		overflow: hidden;
	}
	li {
		position: relative;
	}
	label {
		position: relative;
		padding-left: 25px;
		&:before {
			content:'';
			font-family: "FontAwesome";
			display: inline-block;
			width: 13px;
			height: 13px;
			border:1px solid #cccccc;
			cursor: pointer;
			position: absolute;
			left: 0;
			top: 0;
		}
		span {
			display: inline-block;
			vertical-align: top;
			color: #666666;
		}
	}
	input {
		position: absolute;
		
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		&:checked ~ label:before {
			content: "\f00c";
		}
	}
	@include media($tablet) {
		&>li {
			@include fill-parent();
			@include omega();
			height: auto;
			border-width:1px 0 1px 0;
			margin-bottom: 5px;
			padding: 20px;
			cursor: pointer;
			&:after {
				content:"\f078";
				font-family: "FontAwesome";
				font-size: 20px;
				color: $mage;
				position: absolute;
				right: 25px;
				top: 20px;
				@include transition(ease transform .2s);
				@include transform-origin(65%);
			}
			&.open:after {
				@include transform(rotateX(180deg));
			}
		}
	}
	@include media($phone) {
		margin-bottom: 5px;
		&>li {
			padding: 15px 15px 10px;
			&:after {
				top: 15px;
				font-size: 17px;
			}
		}
		label {
			span {
				font-size: 12px;
			}
		}
		

	}
}



.b-filter-item {
	left: 15px;
	top: 15px;
	width: 13px;
	height: 13px;
	font-size: 12px;

	& ~ label {
		&:before {
			top: 5px;
			font-size: 10px;
		}
	}
}

.b-filter-group-item {
	font-size: 17px;
	font-weight: 600;
	color: #000;
	width: 17px;
	height: 17px;
	left: 20px;
	position: relative;

	& ~ label {
		font-weight: 600;
		padding-left: 35px;
		display: block;
		padding-bottom: 15px;
		min-height: 60px; 
		span {
			font-size: 17px; 
			color: #000;
		}
		&:before {
			left: 10px;
			top: 2px;
			width: 17px;
			height: 17px;
			font-size: 15px;
		}
	}
	@include media($tablet) {
		left: 30px;
		& ~ label {
			min-height:0;
			padding-bottom: 0;
			&:before {

			}
		}
	}
	@include media($phone) {
		& ~ label {
			span {
				font-size: 12px;
			}
			&:before {
				top: 0;
			}
		}
	}
}

.b-filter-item {
	font-size: 14px;
	color: #666666;
	font-weight: 400;
}

.b-filter-sub-list {
	cursor: default;
	&>li {
		padding: 10px 15px;
		background:#f0efed;
		margin-bottom: 4px;
	}
	@include media($tablet) {
		display: none;
		padding-top: 15px;
		height: 150px;
		// @include outer-container(100%);
		&>li {
			// @include span-columns(6);
			display: inline-block;
			width: 45%;
			margin-right: 4%;
			cursor: default;
			&:nth-child(2n) {
				margin-right: 0;
			}
		}
	}
}

.b-filter-list-bottom {
	@include display(flex);
    @include justify-content(space-between);
    padding-bottom: 30px;
    
	li {
		display: inline-block;
		background:#580e31;
		background:darken($mage, 7%);
		
		
	}
	@include media($tablet) {
		@include display(block);
		li {
			display: block;
			text-align: left;
			
			width: 90%;
			margin: auto;
			margin-bottom: 2px;
		}
		.b-filter-link{
			padding: 15px;
		}

	}
	@include media($phone) {
		padding-bottom: 10px;
	}
}

.b-filter-form {
	text-align: center;
	.b-btn{
    	font-weight: 600;
    	font-size: 16px;
    	width: 240px;
    	padding: 24px;
    }
    @include media($phone) {
    	.b-btn {
			font-size: 12px;
			padding: 17px;
			width: 90%;
    	}
    }
}


.b-filter-link {
	position: relative;
	font-size: 17px;
	color: #fff;
	font-weight: 600;
	padding: 26px 43px;
	display: block;  
	@include transition(background-color .2s, color .2s);
	&:hover {
		background:$gold;
		color: $mage;
		&:after {
			color: $mage;
		}
		svg {
			fill: $mage;
		}
	} 
	&:after {
		@include transition(color .2s);
		content:"";
		font-family: "FontAwesome";
		font-size: 20px;
		color: #fff;
		float: left;
		margin-right: 5px;
		font-weight: 300;
	}
	svg {
		width: 15px;
		height: 20px;
		display: inline-block;
		vertical-align: top;
		margin-right: 5px;
		
		fill: #fff;
		@include transition(all .2s);
		
	}
	@include media($desktop) {
		padding: 25px;
	}
	@include media($phone) {
		font-size: 12px;
		padding: 5px 10px;
		svg {
			width: 10px;
			height: 15px;
		}
		&:after {
			font-size: 12px;
		}
	}
}

.b-filter-link_content{
	svg {
		fill: $gold;
	}
	

}

.b-filter-link_graph:after {
	content:'\f062';
	
}

.b-filter-link_graph:after {
	content:"\f080";
}

.b-filter-link_video:after {
	
}



.b-filter-link_podcast:after {
	content:"\f028";

}

.b-filter-link_article:after {
	content:"\f007";
}

.b-grid-updates{
	background:#f0efed; 
	text-align: center;
	padding-bottom: 100px;
	
	.b-btn {
		width: 245px;
		padding: 22px 30px;
		font-size: 16px;
	}
	@include media($phone) {
		padding-bottom: 50px;
		.b-btn {
			width: 130px;
			font-size: 12px;
			padding: 15px 20px;
		}
	}
}
 


.b-grid-top {
	text-align: center;
	@include outer-container(940px);
	@include display(flex);
	
	padding: 40px 0;
	h2 {
		font-size: 24px;
		font-weight: 400;
		color: #000;
		letter-spacing:normal;
		text-align: left;
		// float: left;
		padding: 8px 0;
		padding-right: 50px;

	}
	form {
		// float: right;

	}
	@include media($tablet) {
		@include flex-flow(row  wrap);
		form, h2 {
			float: none;
			margin: auto;
		}

		h2 {
			@include flex(0 0 100%);
			text-align: center;
			padding: 20px;

		}
	}
	@include media($phone) {
		padding: 20px;
		h2 {
			font-size: 18px;
		}
	}
}

.b-grid-filter-search {
	max-width: 310px;
	width: 100%;
	position: relative;
	@include align-self(center);

	input {
		padding: 15px;
		width: 100%;
		background:$mage;
		color: #fff;
		max-height: 45px;
		@include placeholder {
			color: #fff;
			font-weight: 600;
			font-size: 14px;
			font-family: $lato;
		}
	}
	button, a {
		background:#fff;
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 45px;
		text-align: center;
		@include transition(background-color .2s);
		&:hover {
			background:$gold;
			&:after {
				color: #fff;
			}
		}
		&:after {
			content:"\f067";
			color: $gold;
			font-size: 24px;
			font-family: "FontAwesome";
			@include transition(color .2s);
			line-height: 45px;
		}
	}
	@include media($tablet) {
		@include flex(0 0 100%);
	}
}

.b-grid{
	@include outer-container($content);
	padding-bottom: 20px;
	@include media($desktop) {
		max-width: 100%;
	}
	@include media($tablet-land) {
		max-width: 768px;
	}

	@include media($tablet) {
		@include display(flex);
		// @include flex-flow(row wrap);
		@include flex-flow(row wrap);
		// padding: 5px;
	}
	@include media($tablet-port) {
		max-width: 100%;
	}
	@include media($phone) {
		padding-bottom: 0;
	}
}

.b-grid__item { 
	height: 325px;
	width: 363px;
	width: 32%;
	margin-bottom: 20px;
	// @include span-columns(4);
	// @include omega(3n);



	@include media($tablet-land) {
		width: 48%;
	}

	@include media($tablet) {
		// @include flex(0 0 50%);
		@include flex(1 1 auto);
		margin: 5px !important;
	}

	@include media($tablet-port) {

		@include flex(none);
		width: 350px;
		margin: 0 auto 20px!important;
	}
	@include media($phone) {
		height: 250px;
		width: 275px;
		
	}
}

.b-grid__item_big {
	// @include span-columns(8);
	height: 670px;
	width: 748px;
	width: 66%;
	@include media($tablet-land) {
		width: 98%;
	}
	@include media($tablet) {
		width: 100%;
		@include flex(1 1 100%);

	}
	@include media($tablet-port) {
		margin: 0 auto 20px;
		height: 450px;
	}
	@include media($phone) {
		height: 300px;
		img {
			width: 100%;
		}
	}
}


/*=====  End of PAGE ISSUES  ======*/
