/*=============================
=            STAFF            =
=============================*/

.staff {
	background: #fff;
}

.b-staff-page {
	padding-top: 50px;
	@include media($desktop) {
		margin-left: 25px;
		margin-right: 25px;
	}

}

.b-grid-staff {
	padding-bottom: 80px;
	@include media($tablet) {
		float: none;
	}
}

.b-grid-staff__item {
	position: relative;
	float: left;
	// margin-bottom: 20px;
	&:after {
		content:"";
		display: block;
		position: relative;
		padding-top: 100%;
		height: 100%;
		width: 100%;
		z-index: -1;
	}

	&.small {
		width: 275px;
		@include span-columns(4 of 12);
		@include omega();
		margin-bottom: 21px;
		@include media($tablet) {

		}
	}
	&.large {
		width: 560px;
		
		@include span-columns(8 of 12);
		@include omega();
		margin-bottom: 20px;
		@include media($tablet) {
			
		}
	}
	@include media($tablet) {
		// &.small, &.large {
		// 	@include span-columns(6 of 12);
		// 	@include omega(2n);
		// }
		@include reset-display();
		margin: 1%!important;
		&.small {
			@include flex(0 0  auto);
			width: 48%;
		}
		&.large {
			@include flex(2 1 auto);
		}
	}

	@include media($phone) {
		margin: 0 !important; 
		margin-bottom: 20px!important; 
		&.small, &.large {
			@include span-columns(12 of 12);
			@include omega();
		}

	}
}	

.b-staff-person {
	background-position: 50% 40%;
	background-color: #000;
	background-image:  url('../images/staff-person-holder.png');
	background-repeat: no-repeat;
	&.male {
		background-image:url('../images/staff-person-holder_male.png');
	}
	&.open {
		z-index: 10;
		&:after {
			z-index: 1;
			background: $green;
			opacity: 0.75;
		}
		.b-staff-person-label {
			opacity: 0;
		}
	}


 	@include media($tablet-port) {
 		background-size: 15%;
 		
 	}
}

.b-staff-person-link-wrap {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	img {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%,-50%));
	}
}

.b-staff-person-label{
	position: absolute;
	left: 25px;
	right: 25px;
	bottom: 30px;
	opacity: 1;
	@include transition(ease opacity .2s);
	@include media($tablet-port) {
		left: 10px;
		right: 10px;
		bottom: 15px;
	}

}

.b-staff-person-label__name {
	color: #fff;
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0em;
	line-height: 1em;
	float: left;
	background:#000;
	padding:  5px 10px 0px;
	position: relative;
	@include media($tablet-port) {
		font-size: 18px;
	}
}

.b-staff-person-label__position {
	color: #fff;
	font-size: 12px;
	font-weight: 600;
	line-height: 2em;
	text-transform: uppercase;
	color: #97d147;

	background:#000;
	padding: 5px 10px;

	clear: both;
	float: left;
	@include media($tablet-port) {
		font-size: 10px;
	}
}

/*=====  End of STAFF  ======*/
 