/*=================================
=            OUR WORKS            =
=================================*/

.b-work-row {
	position: relative;
	background:#fff;
	& + .b-page-bottom {
		padding-top: 140px;
		background:#fff;
		
	}
	@include media($tablet) {
		& + .b-page-bottom {
			padding-top: 0;
		}
		& > .b-grid {
			padding-bottom: 0;
		}
	}
} 



.b-work-row_img-grid {
	@include display(flex);
	img {
		width: 100%;
		display: block;
		height: auto;
	}
	@include media($tablet) {
		@include flex-flow(row wrap);
		background:#000;
		
	}
	@include media($phone) {
		
	}
}

.b-work-row__text{
	background-color:#fff;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 80px 0 70px;
	overflow: hidden;
	position: relative;
	@include media($phone) {
		padding: 40px 0 30px;
	}	
}

.b-work-row__text_on-background {
	padding-top: 70px;
	min-height: 550px;
}


.b-row-text-inner {
	@include outer-container($content);
	text-align: center;
	padding: 0 6%;
	position: relative;
	p {
		font-size:24px;
		line-height: 1.5em;
		padding-bottom: 1.5em;
		font-weight: 300;
	}
	small {
		display: inline-block;
		font-size: 16px;
		color: $green;
		line-height: 1.5em;
		font-weight: 600;
		
	}
	strong {
		color: $green;
		font-weight: 600;
	}

	@include media($phone) {
		p {
			font-size: 15px;
		}
		small {
			font-size: 12px;
		}
	}
}

.b-row-text-inner_white {
	& > * {
		color: #fff!important;
	}
	strong {
		color: #000000;
	}
}


.b-work-row-header {
	color: $green;
	font-size: 26px;
	text-transform: uppercase;
	padding-bottom: 25px;
	font-weight: 600;
	@include media($phone) {
		font-size: 18px;
	}
}
 
.b-work-row-icon {
	width: 65px;
	display: inline-block;
	margin-bottom: 10px;
}

img.b-work-responsive-image {
	display: block;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
}

.b-work-staff {
	background:#e6e2df;

	@include media($tablet) {
		padding: 60px 35px;
	}
	@include media($phone) {
		padding: 30px 5%;
	}

}

.b-work-event {
	@include media($tablet) {
		max-height: 640px;
		&:after {
			content:"";
			display: block;
			height: 50%;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			@include linear-gradient(to bottom, rgba(255,255,255,0), #000);
		} 
		img {
			position: relative;
			min-height: 100%;
			min-width: 100%;
			width: auto;
			height: auto;
			left: 50%;
			@include transform(translate(-50%,0)); 
		}
	}
}

.b-work-event-info {
	text-align: center;
	position: absolute;
	width: 100%;
	max-width: 620px; 
	top: 50%;
	left: 50%;
	@include transform(translate(-50%,-50%));
	color:#fff;
	padding: 0 5%;
	z-index: 1;
	h2 {
		font-size: 50px;
		padding-bottom: 20px;
		font-weight: 600;
	}

	p {
		font-size: 16px;
		padding-bottom: 1.5em;
		line-height: 1.5em;
	}
	.b-btn {
		margin-top: 10px;
		min-width: 200px;
		text-transform: uppercase;
	}

	@include media($tablet-land) {
		h2 {
			font-size: 30px;
		}
		p {
			font-size: 15px;
		}

	}

	@include media($tablet) {
		@include transform(translate(-50%,0));
		bottom: 80px;
		top: auto;
	}
	@include media($tablet-port) {
		p, .b-btn {
			font-size: 12px;
		}
	}
}

.b-work-event-video-callout {
	position: absolute;
	height: 60%; 
	width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	img {
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%,-50%));
	}

	
	@include media($tablet) {
		position: relative;
		max-width: 90%;
		height: auto;
		margin: auto;
		img {

			position: static;
			@include transform(none);
		}
	}

}

.b-video-callout-btn {
	position: absolute;
	z-index: 1;
	width: 56px;
	height: 56px;
	top: 50%;
	left: 50%;
	margin-left: -23px;
	margin-top: -23px;
	background:rgba(255,255,255,0.8);
	display: inline-block;
	text-align: center;
	@include transition( ease background .2s);
	&:before {
		content: "\f04b";
		font-family: 'FontAwesome';
		font-size: 24px;
		color: #000;
		line-height: 55px;
		margin-left: 5px;
	}

	&:hover {
		background:#fff;
	}
	
}

.b-work-event-link-bar {
	background:$gold;
	position: absolute;
	bottom: 0;
	height: 40%;
	width: 100%;
	left: 0;

	.b-btn {
		max-width: 370px;
		width: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		@include transform(translate(-50%,-50%));
	}

	@include media($tablet-land) {
		.b-btn {
			padding: 40px 14%;
			border:none;
			&:before, &:after {
				content: none;
			}
			.svg {
				display: none;
			}
		}
	}
	@include media($tablet) {
		position: relative;
		
		max-width: 90%;
		margin: auto;
		margin-bottom: 90px;
		.b-btn {
			position: relative;
			@include transform(translate(-50%,0));
			padding: 25px;
			padding-left: 60px;
		}
	}
	@include media($tablet-port) {
		
	}

	@include media($phone) {
		margin-bottom: 45px;
		.b-btn {
			padding-left: 15%;
		}

	}
}

.b-work-staff__content {
	text-align: center;
	padding: 90px 2%;
	max-width: 450px;
	margin: auto;
	p {
		font-size: 18px;
		color: #000;
		padding-bottom: 1.5em;
		line-height: 1.5em;
	}
	@include media($tablet) {
		padding: 50px 5% 10px;
		max-width: 100%;
	}
	@include media($phone) {
		padding-top: 25px;
		p {
			font-size: 12px;
		}
	}
}

.b-work-staff__btn-set {
	li {
		display: inline-block;
	}
	.b-btn{
		width: 125px;
	}
	@include media($tablet) {
		margin-top: 20px;
		.b-btn{
			padding: 15px 10px;
			width: 100px;
		}
	}

	@include media($phone) {
		margin-top: 10px;
		.b-btn {
			width: 80px;
			font-size: 10px;
		}
	}
}

.b-work-row__inner-grid {
	@include outer-container($content);
	padding-bottom: 100px;


	.b-socials-wrap {
		background:url('../images/bg-socials.jpg') no-repeat;
		background-size: cover;
		height: 100%;
		width: 100%;
		text-align: center;
		padding-left:25%;
		.b-socials-header {

			padding-top: 120px;

		}
		h3 {
			text-transform: uppercase;
		}
		li {
			margin: 0 10px;
		}
	}
	@include media($tablet) {
		padding-bottom: 0;
	}
	@include media($tablet-port) {
		.b-article__text {
			h3 {
				font-size: 18px;
			}
		}
	}
	@include media($phone) {
		.b-socials-wrap {
			padding: 10%!important;
			.b-socials-header {
				padding-top: 30%;
			}
		}
		
	}
 
}

.b-work-row-photo-set {
	@include media($tablet) {
		position: absolute;
		left: 50%;
		top: 0;
		width: 80%;
		max-width: 350px;
		@include transform(translate(-50%,-35%));
		&:after {
			content:"";
			display: block;
			position: relative;
			padding-bottom: 100%;
		}
		& > * {
			position: absolute;
			width: 100%;
			height: 100%;
		}
		
	}
}


.b-youth-min{
	background: url(../images/bg-pattern.jpg);
	text-align: center;
	padding: 70px 20px 80px;

	.b-btn .svg {
		fill: $gold;
	}
	@include media($tablet) {
		padding-top: 250px;
	}
} 

.b-youth-min__title{
	max-width: 450px;
	margin: auto;
	h2 {
		font-size: 22px;
		text-transform: uppercase;
		font-weight: 400;
		color: $blue;
		padding-bottom: 15px;
	}
	p {
		color: #000;
		font-size: 16px;
		line-height: 1.5em;
		padding-bottom: 30px;
	}
}

.b-youth-min__grid {
	max-width: 530px;
	margin: auto;
	margin-bottom: 35px;
	li {
		height: 175px;
		max-width: 175px;
		margin: auto;
		margin-bottom: 2px;
	}
	@include media($phone) {
		li {
			height: 120px;
			width: 120px;
		}
	}
}

.b-grid-gif {
	max-width: 100%;
	margin: -1px 0 0 -1px;
}

.b-grid-gif__item {
	position: relative;
	overflow: hidden;
	// margin-bottom: 1px;
	
	&:after {
		content:"";
		display: block;
		position: relative;
		top: 0;
		left: 0;
		padding-bottom: 100%;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	&.small {
		// width: 279px;
		// height: 279px;
		width: 20%;
		@include calc(width, '20% - 2px');
		height: auto;
		margin: 2px 0 0 2px;
	}
	&.large {
		// width: 559px;
		// height: 559px;
		margin: 2px 0 0 2px;
		width: 40%;
		@include calc(width, '40% - 2px');
		height: auto;
	}
	@include media($tablet) {
		width: 50% !important;
		float: left;
		margin: 0 !important;
	}
	@include media($phone) {
		width: 100% !important;
	}
}

/*=====  End of OUR WORKS  ======*/
