/*==================================
=            YOUTH PAGE            =
==================================*/

$mix_column-width: 178px;
$stories_column_width: 295px;


.b-grid_mixed {
	@include outer-container(895px);
	overflow: hidden;
	padding-bottom: 100px;

	// .youth & {
	// 	margin-top: -175px;
	// }
	@include media($tablet) {
		display: block;
		@include outer-container(100%);
		padding-bottom: 20px;
		.youth & {
			margin-top: 0;
		}
	}
}

.b-grid-mixed__item {
	width: $mix_column-width * 2;
	height: $mix_column-width * 2 + 2px;
	margin-bottom: 2px;
	
	.b-article__bg {
		height: 100%;
	}
	.b-article__text {
		h3 {
			font-weight: 300;
		}
		*:not(span) {
			padding: 0;
			padding-bottom: 5px;
		}
	}
	.b-article-video-btn {
		top: 40%;
	}

	&.b-person {
		height:$mix_column-width;
		width: $mix_column-width;
	}
	&.b-featured-person {
		width: $mix_column-width * 2 + 2px;
		height: $mix_column-width;
	}
	&.b-article_image {
		width: $mix_column-width * 2;
		height: $mix_column-width  * 3 + 4px;
	}
	&.button {
		width: $mix_column-width * 2;
		height: $mix_column-width;
		display: flex;
		text-align: center;
		.b-btn {
			width: 260px;
			padding: 15px 40px 10px;
			line-height: 1.5em;
			font-size: 16px;	
		}

	}
	&.empty {
		width: $mix_column-width;
		height: $mix_column-width;
	}
	@include media($tablet) {
		margin: 5px auto;

		&.empty {
			display: none;
		}

		
		&.b-person {
			@include fill-parent();
			@include omega();
			max-width: 0;
			min-width: 100%;
			float: none;
			background:#fff;
			text-align: left;
			margin: 5px 0;
			img {
				position: relative;
				min-width: 0;
				max-height: 100%;
				max-width: 135px;
				float: left;
			}
			.b-person-link {
				display: block;
				position: relative;
				width: auto;
				&:before {
					content:none;
				}

			}
			.b-person-name {
				color: $green;
				opacity: 1;
				font-size: 20px;
				font-weight: 400;
				padding-left: 30px;
				display: table;
			}
		}
		&.b-featured-person {
			position: relative;

			.b-person-link {
				display: block;
			}	
		}
		&.b-article_image {
			height: 356px;
		}

		&.button {
			height: auto;
			margin: 30px auto 20px;
		}

		&.b-article + .b-person,
		&.b-person + .b-article,
		&.b-featured-person + .b-person,
		&.b-person + .b-featured-person,
		&.b-article_image + .b-featured-person,
		&.empty + *:not(empty) {
			margin-top: 25px;
		}
		
	}
	@include media($phone) {
		&.b-person {
			height: 125px;
		}

		&.button .b-btn {
			font-size: 12px;
			line-height: 1.2em;
			width: 200px;
		}
	}
}

.b-grid_stories {
	padding-bottom: 100px;
	font-size: 0;
	text-align: center;
	overflow: hidden;
	.b-article__bg {
		height: 100%;
	}
	.b-article__text {
		bottom: 25px;
		h3 {
			font-weight: 300;
		}
	}
	.b-article-audio-btn {
		top: 35%;
	}

	@include media($tablet) {
		max-width: none;
		
		float: none;
		clear: both;
		.b-article__bg {
			height: auto;
		}
	}
	@include media($phone) {
		padding-bottom: 20px;
	}
}

.l-content {

	.b-grid-filter-search{
		float: right;
		margin-bottom: 50px;
	
		@include media($tablet) {
			float: none;
			margin: auto;
			margin-bottom: 30px;
			.youth & {
				margin-top: 40px;
			}
		}
		@include media($tablet-port) {
			max-width: 270px;
		}
	}
	
}

.b-youth-content {
	padding-bottom: 100px;
	.b-btn {
		display: block;
		margin: auto;
		width: 200px;
	}
	@include media($desktop) {
		padding: $side_margin;
		padding-bottom: 70px;
	}
	@include media($tablet-port) {
		padding: 0;
		padding-bottom: 40px;
	}
}


.b-grid-story__item {
	width: $stories_column_width;
	height: $stories_column_width;
	margin-bottom: 2px;
	&.large {
		width: $stories_column_width * 2;
		max-width: none;
		height: $stories_column_width * 2 + 2px;
		overflow: hidden;
		.b-article-video-btn {
			top: 40%;
		}
	}
	@include media($tablet) {
		margin: auto;
		margin-bottom: 15px;
		width: 350px;
		height: 350px;
		&.empty {
			display: none;
		}
		&.large {
			margin: 25px 0;
			width: 100%;

			
		}
	}
	@include media($phone) {
		max-width: 270px;
		max-height: 270px;
	}
}

.b-grid-person {
	@include outer-container(100%);
	margin-bottom: 50px;
	@include transform(translate3d(0,0,0));
	z-index: 6;
	position: relative;
	@include media($tablet-port) {
		margin-bottom: 60px;
	}
	@include media($tablet) {
		text-align: center;
		margin-bottom: 40px;
	}
}

.b-grid-person__item {
	max-width: $mix_column-width - 2px;
	min-width: $mix_column-width - 2px;
	height: $mix_column-width;
	margin-bottom: 2px;
	@include span-columns(20 of 100);
	@include omega(5n);
	

	&>img {
		height: 100%;
	}
	
	@include media(1180px) {

		@include span-columns(20 of 80);
		@include omega(4n);
		&.empty {
			display: none;
		}
		
	}
	@include media($tablet) {
		@include reset-display();
		clear: none!important;
		margin-right: 0 !important;
		display: inline-block;
		float: none!important;
		.b-person-link {
			display: block;
		}
	}
	@include media($tablet-port) {
		@include fill-parent();
		@include omega();
		max-width: 0;
		min-width: 100%;
		float: none;
		background:#fff;
		text-align: left;
		margin-bottom: 5px;
		img {
			position: relative;
			min-width: 0;
			width: auto;
			float: left;
		}
		.b-person-link {
			// display: none;
			position: relative;
			width: auto;
			&:before {
				content:none;
			}

		}
		.b-person-name {
			color: $green;
			opacity: 1;
			font-size: 20px;
			font-weight: 400;
			padding-left: 30px;
			display: table;
		}
	}
	@include media($phone) {
		height: 125px;
	}
	
}

/*=======================================
=            PERSON DROPDOWN            =
=======================================*/

$a_time: .4s;

.b-grid-person__item {
	@include transition( cubic-bezier(.68,.26,.05,1.05) margin $a_time * 3);
	&.open {
		
		.b-person-name {
			opacity: 0;
		}
	}
}

.b-person-info__closer {
	font-family: $fa;
	color: #bfda95;
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 15px;
	@include media($tablet-port) {
		top: 0;
	}
}

.b-person-dropdown {
	overflow: hidden;
	position: absolute;	
	top: 0;
	left: 0;
	@include row(table);
	@include transition( ease-in-out opacity $a_time 0s, visibility 0s $a_time);
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	display: table;
	background:#62911a;

	.b-pesron-card, .b-person-info{
		@include transition( ease-in-out opacity .2s 0s, cubic-bezier(.35,.12,.1,.65) transform $a_time 0s);
		opacity: 0;
		@include transform(translate3d(0,50px,0));
	}

	&.visible {

		@include transition( ease-in-out opacity .2s $a_time, visibility 0s $a_time);
		opacity: 1;
		visibility: visible;

		.b-pesron-card, .b-person-info {
			@include transition( ease-in-out opacity $a_time * 2 $a_time * 1.2, cubic-bezier(.35,.12,.1,.65) transform  $a_time * 2 $a_time);
			@include transform(translate3d(0,0,0));
			opacity: 1;
		}
		
	}
	@include media($tablet-port) {
		@include reset-display();
		@include row(block);
		display: block;
	}

}

.l-drop-left {
	@include span-columns(4 of 10, block-collapse);
	background:#62911a;
	text-align: right;
	padding: 40px 45px;
	vertical-align: top;
	display: table-cell;
	float: none;
	@include media($tablet-port) {
		padding: 20px 25px;
		display: block;
		float: left;
	}
	@include media($phone) {
		float: none;
		width: 100%;
	}
}

.l-drop-right {
	@include span-columns(6 of 10, block-collapse);
	background:$green;
	padding: 35px 45px 45px;
	vertical-align: top;
	display: table-cell;
	float: none;
	@include media($tablet-port) {
		padding: 15px 25px;
		display: block;
		float: right;
	}
	@include media($phone) {
		@include span-columns(10 of 10, block-collapse);
		float: none;
		width: 100%;
	}
}

.b-pesron-card {
	max-width: 235px;
	text-align: left;
	display: inline-block;
	@include media($phone) {
		max-width: none;
	}
}
.b-person-info {
	color: #fff; 
	position: relative;
	max-width: 640px;
}

.b-person-card__img {
	width: 100%;
	height: auto;
	display: block;
	padding-bottom: 27px;
}

.b-person-card__text {
	font-size: 22px;
	color: #c0f371;
	font-weight: 300;
	line-height: 1.4em;
	@include media($tablet-port) {
		font-size: 18px;
	}
}

.b-person-info__header {
	font-size: 40px;
	padding-bottom: 12px;
	font-weight: 400;
	line-height: 1.2em;
	@include media($tablet-port) {
		font-size: 28px;
	}
}
.b-person-info__tag-list {
	padding-bottom: 20px;
	li {
		display: inline-block;
		background:#62911a;
		padding: 2px 10px 5px;
		margin-right: 2px;

	}
	a {
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		font-size: 12px;
	}
}

.b-person-info__media-list {
	padding-bottom: 15px;
	li {
		display: inline-block;
		margin-right: 20px;

	}
	
}

.b-person-media-link {
	font-size: 16px;
	color: #fff;
	&:before {
		margin-right: 5px;
		vertical-align: middle;
		font-family: $fa;
		color: #fff;
		font-size: 30px;
		display: inline-block;
	}
}

.b-person-media-link_twitter {
	&:before {
		content: "\f099";
	}
}

.b-person-location-link {
	font-size: 16px;
	color: #fff;
	&:before {
		margin-right: 5px;
		vertical-align: middle;
		content: "\f0ac";
		font-family: $fa;
		color: #fff;
		font-size: 30px;
		display: inline-block;
	}
}

.b-person-info__text {
	padding-bottom: 10px;
	max-width: 600px;
	* {
		font-size: 16px;
		color: #fff;
		line-height: 1.5em;
	}
	p {
		padding-bottom: 1.5em;
	}
	@include media($tablet-port) {
		* {
			font-size: 14px;
		}
	} 
}

.b-person__related-content {
	.b-article {
		width: 355px;
		height: 355px;
		@include media($tablet-port) {
			width: 250px;
			height: 250px;
		} 
	}
	
}

/*=====  End of PERSON DROPDOWN  ======*/




.b-filter-stories {
	
	padding: 0;
	.b-btn {
		margin: 25px 0 30px;
	}
	fieldset {
		background:#580e31;
		padding: 20px 25px 30px;
	}
	@include media($tablet) {
		fieldset {
			padding: 50px 0 30px;
		}
		.b-filter-options__closer {
			top: 10px;
		}
		.b-filter-options__title {
			padding-left: 25px;
			padding-top: 25px;
			padding-bottom: 40px;
			

		}
		.b-filter-options__title_region {
			background:$mage;

		}
		.b-filter-options__title_issue {
			background:#fff;
			color: #000;
		}
		.b-filter-options__title_type {
			padding-bottom: 20px;
		}
		.b-btn{
			margin: 30px 0;
		}
	}
	@include media($phone) {
		.b-filter-options__title {
			padding-bottom: 20px;
		}
		fieldset {
			padding-bottom: 15px;
		}
		.b-btn{
			margin: 20px 0;
		}
	}
}


.b-region-filter-list, .b-issue-filter-list {
	
	text-align: left;
	@include fill-parent();
	padding-bottom: 20px;
	&:after {
		content:'';
		display: block;
		clear: both;
	}
	&>li {
		@include reset-display();
		@include span-columns(10 of 40); 
		@include omega(4n);
		overflow: auto;
		background:$mage;
		padding: 10px 10px;
		margin-bottom: 5px;
		overflow: hidden;
	}
	li {
		position: relative;
	}
	label {
		position: relative;
		padding-bottom: 0;
		padding-left: 25px;
		min-height: 0;
		font-weight: 400;
		&:before {
			content:'';
			font-family: "FontAwesome";
			display: inline-block;
			width: 17px;
			height: 17px;
			background:#fff;
			border:1px solid #cccccc;
			cursor: pointer;
			position: absolute;
			left: 0;
			top: 0;
		}
		span {
			display: inline-block;
			vertical-align: top;
			color: #fff;
		}
	}
	input {
		position: absolute;
		left: 10px;	
		opacity: 0;
		cursor: pointer;
		z-index: 1;
		&:checked ~ label:before {
			content: "\f00c";
		}
	}
	@include media($tablet) {
		padding-bottom: 30px;
		&>li {
			@include fill-parent();
			@include omega();
			height: auto;
			border-width:1px 0 1px 0;
			margin-bottom: 5px;
			padding: 10px 25px;
			cursor: pointer;
			&:after {
				content:"\f078";
				font-family: "FontAwesome";
				font-size: 20px;
				color: $mage;
				position: absolute;
				right: 25px;
				top: 20px;
				@include transition(ease transform .2s);
				@include transform-origin(65%);
			}
			&.open:after {
				@include transform(rotateX(180deg));
			}
		}
		input {
			left: 25px;
		}
	}
	@include media($phone) {
		margin-bottom: 5px;
		padding-bottom: 20px;
		&>li {
			padding: 15px 15px 10px;
			&:after {
				top: 15px;
				font-size: 17px;
			}
		}
		label {
			span {
				font-size: 12px;
			}
		}
		

	}
}



.b-issue-filter-list {
	&>li {

		background:#fff;
		border: 1px solid #cccccc;
	}
	label span{
		color: #000;
	}
	@include media($tablet) {
		background:#fff;
		&>li {
			border:none;
			@include span-columns(6 of 12);
			@include omega(2n);
			&:after {
				content:none;
			}
		}
	}
}

.b-type-filter-list {
	@include display(flex);
    @include justify-content(space-between);
    margin-bottom: 25px;
    li {
    	display: inline-block;
		background:#580e31;
		border: 4px solid $mage;

    }
    .b-filter-link {
    	padding: 20px 39px;
    }
    @include media($desktop) {
    	.b-filter-link {
    		padding: 20px;

    	}
    }
    @include media($tablet) {
    	@include display(block);
    	li {
    		text-align: left;
    		display: block;
    		margin: $side_margin;
			margin-bottom: 5px;
    	}
    	.b-filter-link {
    		&:after {
    			margin-right: 15px;
    		}
    		.svg {
    			margin-right: 18px;
    			margin-left: 2px;
    		}

    	}
    }
}



.b-region-filter-list {
	background:$mage;
	
	@include media($tablet) {
		margin-bottom: 20px;
		&>li {
			@include span-columns(6 of 12);
			@include omega(2n);
		}
		[data-id="filter-stories"] & {
			margin-bottom: 0;
		}
	}
}

.b-mobile-filter-header {
	color: #fff;
	font-size: 22px;
	text-align: left;
	position: absolute;
	top: 10px;
	left: 25px;
	display: none;
	font-weight: 400;
	@include media($tablet) {
		display: block;

	}
}

/*=====  End of YOUTH PAGE  ======*/
