/*===================================
=            BASE MODULE            =
===================================*/

@import "bourbon";
@import "neat";


/* VARIABLES */

$webkit-font-smoothing: true;
$default-feature: max-width;

$desktop: 1200px;
$tablet-land:1024px;
$tablet: 978px;
$tablet-port: 768px;
$phone: 480px;

$content: 1130px;
$side-margin: 0 25px;
/* FONTS */
@include font-face("FontAwesome", "../fonts/fontawesome-webfont");

$lato: 'Lato', sans-serif;
$fa: 'FontAwesome';

/* COLORS */

$green: #7eb42b;
$green_page: #76b84d;
$greenDark: #507c0c;
$gold_text: #ffd168;
$gold: #ffba01;
$blue: #0091b0;
$mage: #741c45;
$brown: #624b34;
$text: #33241b;

$dark: #030303;


$border:#f0efed;

/*=====  End of BASE MODULE  ======*/

/*================================
=            SASS PARTS            =
================================*/

@import "components/_mixins.scss";
@import "components/_normalize.scss";
@import "components/_common.scss";

@import "partials/_main.scss";
@import "partials/_header.scss";
@import "partials/_footer.scss";
@import "partials/_ui.scss";  

@import "partials/_articles.scss";  
@import "partials/_socials.scss";  
@import "partials/_top-stories.scss"; 
@import "partials/_form.scss"; 
@import "partials/_breadcrumbs.scss";
@import "partials/_page-top.scss";


@import "page/_home.scss";
@import "page/_issues.scss";
@import "page/_detail.scss";
@import "page/_youth.scss";
@import "page/_staff.scss";
@import "page/_works.scss";
/*=====  End of SASS PARTS  ======*/

